[2016-05-16 04:04] kamishettysreeja25 opened #1 "Creating Unit Tests"
Creating Unit Tests for model files

[2016-05-16 04:46] kamishettysreeja25 opened #2 "Developing Shifts Page"
Currently shifts page need to be developed and we can add the following features to it.
#254 having shifts with a preferred language team , set native language.
#247 batch deleting shifts option.
#246 editing an existing shift.
#245 date picker for creating shifts

[2016-05-16 04:48] kamishettysreeja25 opened #3 "Implementing Search"
implementing search to select users

[2016-05-16 05:06] DishantK1807 opened #4 "New Themes"
Designing new themes/color schemes for Engelsytem.

[2016-05-16 05:24] DishantK1807 opened #5 "Adding more languages required for localisation"
Implement localization in different languages as it will make this system reach many people across the world.

currently implementing:
 1) Punjabi(Indian)
 2) Bulgarian
 3) French
 4) Spanish
 5)Malayalam (Indian)
 6)Nepali (Indian)
 7)Tamil(Indian)
 8)Urdu (India)
 9)English-UK
 10) Marathi (India)
 11) Kannada (India)
 12) Gujarti (India)
 13)Filipino (Philippines)
 14) Bengali (India)
 15) Chin

[2016-05-17 09:14] mariobehling opened #6 "Set up Travis CI and Codecoverage.io"
We need to be sure all our code is running and tested. Please set up Travis and Codecoverage to ensure this.

[2016-05-17 11:28] vuhung commented on #6
Ops, sorry, travis is cloud based :)

I thought it was Jenkins.

@mariobehling Do we already have a server (VPS) for travis, codecoverage?

[2016-05-17 11:31] vuhung commented on #6
@mariobehling: Do you mean https://codecov.io/ ?

[2016-05-17 20:46] mariobehling commented on #6
@vuhung Yes, is it suitable?

Regarding VPS - We do not need it. We can integrate it with GitHub and use Heroku: http://travis-ci.org

[2016-05-18 01:25] vuhung commented on #6
@mariobehling : Yes, more than enough. We can get more out of travis.

[2016-05-18 06:30] DishantK1807 opened #9 "Signal/dispatcher implementation"
Engelsystem does not use any framework. For the implementation of signal/dispatcher concept do we need to port the system to a framework? or we can just reuse the libraries suggested without porting it to any framework?

[2016-05-18 09:34] vuhung commented on #9
@hongquan : What do you think?

For the time frame of this GSoC project, I think reusing the suggested libs would be a good idea.
Using new frameworks will add more complexity to the project.

[2016-05-18 09:49] mariobehling commented on #9
@DishantK1807 Please reuse the existing libraries.

[2016-05-18 10:00] hongquan commented on #9
From my old message in Slack:

I think @DishantK1807 can go with 2nd solution: No signal/dispatcher at all. Just make a function, add its call to anywhere there is action of changing shift (normally in admin). Implementing a full signal/dispatcher system will involve integrating it with engelsystem codebase is still difficult.

[2016-05-18 12:51] DishantK1807 opened #10 "Feature request: User : Registration Form"
System only requires Nick, Email, Password, Day of Arrival -> find it difficult to control when it comes to security and safety. Organiser needs to know bio of volunteers

Adding  an additional field on the registration form (Current city), mark require field for First Name, Last Name and more

[2016-05-18 15:20] vuhung commented on #10
Good sense of security!

[2016-05-19 03:46] kamishettysreeja25 opened #11 "Feature Request : Admin : Display of All Angels list"
![screenshot from 2016-05-19 09 14 19](https://cloud.githubusercontent.com/assets/14835922/15381960/3ec3c27a-1da2-11e6-986b-e19abb828abf.png)

[2016-05-19 03:46] kamishettysreeja25 opened #12 "Feature Request : Admin : Export database of all angels"

[2016-05-19 03:47] kamishettysreeja25 opened #13 "Feature Request : Admin : Sending message to entire group/Angel Type"
At the moment system only allows to send message to each individual person , we can extend it to entire group and to a particular angel type

[2016-05-19 03:51] sreejakshetty commented on #2
This issue can be divided into multiple small issues .

[2016-05-19 03:59] kamishettysreeja25 opened #14 "Feature Request : Admin : Shift : Batch Deleting shifts"
https://github.com/engelsystem/engelsystem/issues/247 Batch deleting shifts

[2016-05-19 04:02] kamishettysreeja25 opened #15 "Feature Request : Admin : Shift : Editing existing shift"
We can have a option to Copy existing shift and make a new shift from it simply by changing the date and time.

[2016-05-19 04:05] kamishettysreeja25 opened #16 "Feature Request : Admin : Shift : Date/Time picker for creating shifts"
At the moment admin needs to type in date and time by hands as we can see below
![screenshot from 2016-05-19 09 33 40](https://cloud.githubusercontent.com/assets/14835922/15382174/f01c5936-1da4-11e6-8bec-1658e2938d29.png)

[2016-05-19 04:09] vuhung commented on #2
yeah, divide and conquer

[2016-05-19 04:13] DishantK1807 opened #17 "Installing the system on an online web server"
When I install the system online on a web server, the dropdown arrow on the upper right corner is not working, tried installing the system many times but the problem still remains. Is it the issue with the server or something else?

[2016-05-19 04:30] DishantK1807 opened #18 "Feature request: User : Registration Form and shifts"
Adding captcha to avoid bots signing up for shifts.

Users can sign up for as many shift as he wants, some can use fake profiles and use bots for signing up filling up the vacancies, captcha system would prevent bots from signing up and enhance security of the system
The tasks would include the following:

- [x] Adding Captcha to Registration form

- [x] Adding Captcha to Shifts sign up page

- [x

[2016-05-19 04:33] DishantK1807 opened #19 "Feature request: User : Registration Form"
Import volunteers list from Google Spreadsheet to Engel system

[2016-05-19 04:37] kamishettysreeja25 opened #20 "Feature Request: Admin: Import User Data from Spreadsheet"
function to import data from a spreadsheet to the system

[2016-05-19 04:42] DishantK1807 opened #21 "DB: Convert char(1) columns to booleans"
engelsystem#192 :

Sometimes 'Y' and 'N' is used instead of true and false...

Room:
FromPentabarf
show

[2016-05-19 04:44] DishantK1807 opened #22 "Disallow SelfSignup for Shifts"
engelsystem#253 :

If you approve someone for a group, this person is allowed to sign up for restricted shifts on its own.
In some cases you want to accept people as a certain type of angel (eg. heralds, subtitles or video* angels) but want also do distribute those shifts at a certain meeting.
The current fix is "not to accept anyone for this group", but this leads to confusion for the angels (e.g

[2016-05-19 04:46] DishantK1807 opened #23 "Feature request: User : Shifts : Date/Time picker while choosing shifts"
Time picker for selecting shifts

At the moment user can select the date from a drop-down menu, however, user have to insert the time manually

[2016-05-19 06:45] mariobehling commented on #5
Please add a screenshot/mockup here how the changes will look like.

[2016-05-19 06:47] mariobehling commented on #4
Before implementing a new feature/functionality/design, please always post a mockup/screenshot in the issue. So others have a chance to give feedback.

[2016-05-19 07:10] DishantK1807 commented on #5
Implementing localization will result in different changes for different languages

an example , when we implement localization for French language the changes would like :
![capture](https://cloud.githubusercontent.com/assets/7828295/15385360/b8d64bd4-1dbe-11e6-9c1a-8456cb30d9aa.PNG)

[2016-05-19 07:29] hongquan commented on #17
What do you mean by "not working"? What is your expectation and what it actually behaves?

[2016-05-19 07:35] DishantK1807 commented on #17
![screenshot 9](https://cloud.githubusercontent.com/assets/7828295/15385851/eb1e41ac-1dc1-11e6-8261-829de70359a5.png)

@hongquan : clicking on the drop-down arrow on the upper right corner results in a drop-down menu, in which there are options like, settings, logout, shifts, locales.
but when I click on it nothing happens
Like it's happening in the images below
![sc2](https://cloud.githubusercont

[2016-05-19 09:34] mariobehling commented on #23
Please provide a screenshot here before making a pull request. Please add all issues to milestones.

[2016-05-19 09:35] hongquan commented on #17
Does the URL in address bar change after you click to a menu item? It does in my side. If it does, it means the menu works.

[2016-05-19 09:43] DishantK1807 commented on #17
the url does change.
a "#" symbol is added at the end of URL

[2016-05-19 10:09] hongquan commented on #17
Where do you get the code from? In my side, the URL change to `?set_locale=de_DE.UTF-8` when I click to Deustch

[2016-05-19 13:22] kamishettysreeja25 opened #25 "Creating Unit Tests for controller files"

[2016-05-19 13:22] sreejakshetty commented on #1
currently , I am writing unit tests for model files .

[2016-05-19 15:12] vuhung commented on #1
(Y)

No excuse for being brief on mobile.
On May 19, 2016 20:22, "kamishetty sreeja" notifications@github.com wrote:

[2016-05-19 15:48] hpdang commented on #3
please explain. What do you want to search for? Where do you want to implement Search, please provide a screenshot?

[2016-05-19 15:57] hpdang commented on #11
this page currently does not show email or contact details of each volunteers. We want to add email and telephone columns into the table.

[2016-05-19 16:21] hpdang commented on #10
![screenshot from 2016-05-19 18 08 13](https://cloud.githubusercontent.com/assets/1658742/15400939/bc63b00a-1ded-11e6-91f4-262d74b45de2.png)

(1) Make First Name and Last Name as required field.
(2) Add below items into the existing registration form:
- Current city (mark as required)
- Organization, University or Company
- Twitter
- Facebook
- Github

[2016-05-20 04:37] DishantK1807 opened #27 "Add documentation for setting up system on localserver (LAMP/WAMP)"
Will be adding an installation document explaining how to set up the system on a localserver as well as web server including every step involved in the process

[2016-05-20 08:42] #17 closed

[2016-05-24 22:03] DishantK1807 commented on #10
Marked First Name and Last Name as required fields

![capture2](https://cloud.githubusercontent.com/assets/7828295/15521369/0d2d2914-2229-11e6-8eb7-66287bf162c1.PNG)

[2016-05-26 05:02] DishantK1807 opened #31 "Stable Travis config"
#6

Stable Travis code for Master branch

[2016-05-26 05:37] DishantK1807 opened #33 "Registration form: marking First Name and Last Name as required"
#10

[2016-05-26 05:42] DishantK1807 opened #35 "Add more items to registration form"
#10
Add below items into the existing registration form:

* Current city (mark as required)
* Organization, University or Company
* Twitter
* Facebook
* Github

![bc63b00a-1ded-11e6-91f4-262d74b45de2](https://cloud.githubusercontent.com/assets/7828295/15564739/c7d23638-2332-11e6-8ddb-7143b49a89dd.png)

[2016-05-26 05:46] DishantK1807 commented on #33
![capture2](https://cloud.githubusercontent.com/assets/7828295/15564795/40d9bc72-2333-11e6-99b1-74a9e565a7be.PNG)

marked First Name and Last Name as required.

[2016-05-27 07:14] hpdang commented on #33
good job. Tests all passed.

[2016-05-27 07:14] #33 closed

[2016-05-28 02:56] kamishettysreeja25 opened #36 "Admin : changing the content from german to english"
![screenshot from 2016-05-28 08 23 54](https://cloud.githubusercontent.com/assets/14835922/15624729/b25831a0-24ad-11e6-92dc-6f033105ffc2.png)
![screenshot from 2016-05-28 08 23 41](https://cloud.githubusercontent.com/assets/14835922/15624730/b34a3090-24ad-11e6-92d9-bc9b2aebb019.png)

[2016-05-28 09:15] DishantK1807 commented on #35
![screenshot 14](https://cloud.githubusercontent.com/assets/7828295/15626444/afbcb080-24e2-11e6-9a2c-36cca892556d.png)

Any other fields that could be added except the mentioned ones?

[2016-05-28 11:15] DishantK1807 opened #39 "Feature: User : Registration Form: Check if E-mail already exist"
The current configuration of the registration form does not check whether the E-mail exists in the system or not. User can do multiple registrations from the same E-mail account
![screenshot 14](https://cloud.githubusercontent.com/assets/7828295/15626990/1b70d68e-24f3-11e6-9a0c-07603f434e8e.png)

Will be adding a feature to check whether the E-mail account exists or not so that a user cannot do mu

[2016-05-28 11:21] DishantK1807 commented on #39
![capture_email](https://cloud.githubusercontent.com/assets/7828295/15627029/3ede0e1a-24f4-11e6-951f-2e74ab721dc5.PNG)

Highlighted same email accounts in the database for different user registrations.

[2016-05-28 14:59] sreejakshetty commented on #16
![screenshot from 2016-05-28 20 28 05](https://cloud.githubusercontent.com/assets/14835922/15627996/bab960a2-2512-11e6-9723-e1e9ae5ff6bc.png)
![screenshot from 2016-05-28 20 27 49](https://cloud.githubusercontent.com/assets/14835922/15627997/babbeb38-2512-11e6-8e82-41a2f500a9b6.png)

[2016-05-28 17:40] DishantK1807 commented on #35
![screenshot 14](https://cloud.githubusercontent.com/assets/7828295/15628835/5d682322-2529-11e6-85dc-8f2c6decc0a1.png)

Added new fields to the registration form and test on the online server

[2016-05-29 18:33] vuhung commented on #16
Let's find similar part of the code that can use date picker.

[2016-05-30 06:33] #27 closed

[2016-05-30 08:45] #35 closed

[2016-05-30 08:45] hpdang commented on #35
good job!

[2016-05-30 08:46] hpdang commented on #10
good job!

[2016-05-30 08:46] #10 closed

[2016-05-30 15:13] sreejakshetty commented on #15
@hpdang can you explain it briefly  as presently in create shifts under admin . we can choose a particular shift and edit date and time . Is any other feature required ?
![screenshot from 2016-05-30 20 39 48](https://cloud.githubusercontent.com/assets/14835922/15652885/f9c859de-26a6-11e6-94c3-c1cd719affe1.png)

[2016-05-30 15:27] sreejakshetty commented on #16
![screenshot from 2016-05-30 20 52 25](https://cloud.githubusercontent.com/assets/14835922/15653174/d7f2a0d8-26a8-11e6-857c-0fec58b7b307.png)
![screenshot from 2016-05-30 20 52 05](https://cloud.githubusercontent.com/assets/14835922/15653175/d8551920-26a8-11e6-947c-586e60e09c25.png)

[2016-05-31 09:27] DishantK1807 commented on #39
![screenshot 15](https://cloud.githubusercontent.com/assets/7828295/15669826/ddc1c696-273f-11e6-865b-d11c450550f6.png)

Bug solved. Feature updated

[2016-05-31 12:49] hpdang commented on #39
good job!

[2016-05-31 12:49] #39 closed

[2016-05-31 12:52] hpdang commented on #16
I didn't see the changes on the test server.

http://107.170.29.227/engelsystem/public/
username : admin
password : gsoc_foss

[2016-05-31 12:55] #11 closed

[2016-05-31 12:56] #31 closed

[2016-05-31 12:59] #6 closed

[2016-05-31 13:02] sreejakshetty commented on #16
@hpdang
Please check on this
http://107.170.88.225/engelsystem/public
username : admin
password : gsoc_foss

[2016-05-31 13:05] hpdang commented on #16
thanks, so we will this one from now on? Yes it works but calendar is in German.

[2016-05-31 13:06] #1 closed

[2016-05-31 13:10] sreejakshetty commented on #16
Yeah , we will be using this one for testing it online from now.
The calender used in register page is also in german .I would like to create a issue for this and fix it .

[2016-05-31 13:11] #25 closed

[2016-05-31 13:26] #16 closed

[2016-05-31 13:31] kamishettysreeja25 opened #44 "Changing the calender from german to english"

[2016-06-01 01:24] vuhung commented on #39
Can you apply the same logic for other part of the code, that is, check if something, in this case - email, should (not) be duplicated.

[2016-06-01 01:36] DishantK1807 commented on #39
@vuhung : yes we can apply the same logic to the other fields ass well. What all other fields should I apply it on?

[2016-06-01 03:52] kamishettysreeja25 commented on #44
Fixed here #38

[2016-06-02 07:20] hongquan commented on #39
I think it would better if you make these changes on _email_ column in MySQL database:
- Set `UNIQUE` attribute
- Set it case-insensitive, so that if quan@mail.com exists, Quan@mail.com will be rejected.

With this setting on database-level, anywhere you miss checking in PHP code, you still have the last barrier in database.

Setting this also make MySQL automatically index the email data, and mak

[2016-06-02 14:56] DishantK1807 commented on #39
@hongquan : sure. I'll be creating a new issue for implementing it.

[2016-06-02 14:58] DishantK1807 opened #46 "User : Registration Form : Update database for setting email as unique"

[2016-06-02 14:59] DishantK1807 commented on #46
#39

[2016-06-02 17:38] DishantK1807 commented on #46
![screenshot 16](https://cloud.githubusercontent.com/assets/7828295/15754600/75767ce8-2916-11e6-9aa4-0b4101639649.png)

Issue solved.
@hongquan : implemented both
- Set UNIQUE attribute
- Set it case-insensitive, so that if quan@mail.com exists, Quan@mail.com will be rejected.

[2016-06-02 17:41] DishantK1807 commented on #46
tested on local server

[2016-06-03 12:08] hpdang commented on #15
when you edit an existing shift, it will become a new shift. The old one will no longer exist. I would like to have a Copy/Duplicate function where we can produce a new shift from an existing shift and the existing shift is still the same.

[2016-06-04 02:16] sreejakshetty commented on #20
xcal and xml files are allowed for importing to create shifts , delete rooms,update shifts etc.Do we require any more options?
![screenshot from 2016-06-04 07 42 28](https://cloud.githubusercontent.com/assets/14835922/15797019/f2068bec-2a27-11e6-9d64-c83486d3cf7f.png)

[2016-06-04 02:26] DishantK1807 opened #49 "Error update for guest_login.php"
@quan: as reported by you, will solve these errors.
[Fri Jun  3 18:42:21 2016] PHP Notice:  Undefined index: oragnization in /home/quan/Works/FOSSASIA/engelsystem/includes/sys_page.php on line 15

[2016-06-04 02:30] DishantK1807 commented on #49
error solved. This issue can be closed.

[2016-06-04 02:30] DishantK1807 commented on #46
Issue solved. This issue can be closed.

[2016-06-04 04:07] arunimasharma commented on #5
Hey @DishantK1807  This is in continuation to our prior conversation, as discussed I would like to contribute for this issue. Please let me know how would you like me to kick-start!
Cheers!

[2016-06-04 04:12] DishantK1807 commented on #5
@arunimasharma : Hello, it's good to have you on board with the project. Kindly go through the code for now. I'll be creating a new issue for you to work on for specific languages so that other developers do not work on same languages.

Cheers!

[2016-06-04 04:15] DishantK1807 opened #52 "Language support-1"
#5

Implement localization in different languages as it will make this system reach many people across the world.

[2016-06-04 04:18] DishantK1807 commented on #52
@arunimasharma: Please comment the languages that you would like on from Issue #5 and provide us with a mockup/ screenshot. You can add other languages too if they are not mentioned earlier in the issue. Let's code!

Cheers!

[2016-06-04 04:29] arunimasharma commented on #52
@DishantK1807 : Here is the list of languages that I can work on, please feel free to suggest more/ advise for replacement in case you find befitting. The list of languages:
1. Bengali
2. Marathi
3. Nepali
4. Bulgarian
Suggestion:
5. Vietnamese

I will be adding mockup/ screenshot herein in a while. Looking forward to work with you, Happy Coding!

Cheers!

[2016-06-04 04:31] arunimasharma commented on #5
@DishantK1807 : Roger that! I'll study the code and kickstart shortly!

Cheers!

[2016-06-04 04:38] DishantK1807 commented on #52
@arunimasharma : have the set up the system on your device already? If no, please do that first.

Cheers!

[2016-06-04 04:45] arunimasharma commented on #52
@DishantK1807 : Yes, as mentioned by you in the initial conversations. I will set-up now, soon. Going through the code for now.

Cheers!

[2016-06-05 03:48] vuhung commented on #20
I don't understand the system much but for your question,  I think:
1. Let's go with it
2. Try and see they are good or bad and adapt if needed.

The perspectives of developer testing is, as a developer, you are also the
very first user.

May Quan, Mario will give you some advice.

No excuse for being brief on mobile.

[2016-06-05 03:53] vuhung commented on #49
@dishant: you should write more comprehensive issue titile.

[2016-06-05 03:59] vuhung commented on #52
I can contribute to Vietnamese translation.

Good idea (y)

No excuse for being brief on mobile.

[2016-06-05 05:32] kamishettysreeja25 opened #53 "UI/UX Design : Login Page"
We could add the jobs/team description in the menu bar and make the login simple and neat  by having just the username and password as shown below.
![screenshot from 2016-06-05 11 01 10](https://cloud.githubusercontent.com/assets/14835922/15803789/d3d78302-2b0c-11e6-9b4a-a970af38ea79.png)

[2016-06-05 05:35] kamishettysreeja25 opened #54 "UI/UX Design : Register Page"
1-Changing the layout ,  currently the layout  is unordered and I plan to make it more ordered and user-friendly. As we can see the layout looks a bit confusing
![screenshot from 2016-06-05 11 05 18](https://cloud.githubusercontent.com/assets/14835922/15803802/695ca812-2b0d-11e6-9f0e-6fc1b94b0ff9.png)
I will be dividing the layout into 2 pages. One for personal details and other for volunteer pref

[2016-06-05 05:37] kamishettysreeja25 opened #55 "Feature Request: Admin : Shifts Page"
After creating the shifts, Admin is unable to view the shifts and edit it .

[2016-06-05 05:38] kamishettysreeja25 opened #56 "Improving Documentation: code readability"
Currently there is no documentation and it is difficult for the  new contributors to contribute. The comments in the code are in german, which makes it a difficult to understand . I would also like to improve the documentation of Engelsystem so that more people can contribute to it in the future.

[2016-06-05 05:47] sreejakshetty commented on #36
This issue can be closed now

[2016-06-05 08:04] #44 closed

[2016-06-05 08:24] DishantK1807 commented on #56
@sreeja: regarding this issue I have a suggestion. We can work on it together. Let's not create a separate branch for it as of now, we work on the codes and add comments side by side in the code which we are working on and push the code. This will save a lot of time and effort as it would be easy to add comments while working on the code. and later for during the milestone 14 week, you or we can w

[2016-06-05 08:46] DishantK1807 commented on #4
![screenshot 19](https://cloud.githubusercontent.com/assets/7828295/15804486/a5a4e96e-2b27-11e6-922f-45becc97a305.png)
![capture1](https://cloud.githubusercontent.com/assets/7828295/15804488/a83752b6-2b27-11e6-99b1-d50aeba11fba.PNG)

This issue can be closed as of now as 2 color schemes have been implemented for now. I've other developers who are interested in adding more themes. I'll be creating

[2016-06-05 08:56] DishantK1807 opened #57 "Code and branch cleanup"
Removing unused legacy codes that do not affect the system now and stale branches that are not required, from the system to keep it clean.

[2016-06-05 09:02] DishantK1807 commented on #57
Branches: stats, remove-sessionhelper, edit-news-comments are stale and can be deleted. Theme branch not required as we will be working on color_scheme branch, so can be deleted.

[2016-06-05 09:04] DishantK1807 commented on #57
update.d directory and update.php are legacy codes and can be removed as they do not affect the system.

[2016-06-05 09:04] DishantK1807 commented on #57
For removing files and directories, do I need to create a separate branch or can delete directly from the master?

[2016-06-05 09:16] arunimasharma commented on #52
@vuhung : Thank you. It will be a pleasure. I will write .po files and ask for help in some difficult Vietnamese translation and validation.

Cheers!

[2016-06-05 09:20] sreejakshetty commented on #56
@DishantK1807 sure,we will be following this whenever we are coding . we will add comments while working on the code and change the comments from german to english where ever it is possible.Later during the milestone 14 week , we can work together for adding comments to rest of files.
Cheers :)

[2016-06-05 09:25] sreejakshetty commented on #57
https://github.com/engelsystem/engelsystem/pull/252
As asked here, we can delete  update.d directory and update.php files has told by @msquare .
@DishantK1807 I will also be helping you in this issue . I think we can create another branch for code cleanup and do the work there , instead of directly deleting from master branch .

[2016-06-05 09:46] DishantK1807 commented on #57
@kamishettysreeja25 : I will be deleting both of them now

created a new branch: code_cleanup

[2016-06-05 09:53] DishantK1807 commented on #19
@hpdang : What kind of database do we have in the google spreadsheet? are the fields same as those in the registration form of the Engelsystem?

[2016-06-06 06:15] DishantK1807 opened #59 "Updating Documentation"
Will be updating the old documentation files/instructions so that developers get the updated code from FOSSASIA repo.

[2016-06-06 08:01] #46 closed

[2016-06-06 08:01] #49 closed

[2016-06-06 08:11] hpdang commented on #53
I think we can stay with the original login page for now. It is already very clear and tidy, you can click on Job Description under What Can I do. The Registration button is also big and clear. Let's keep it that way.

![screenshot from 2016-06-06 10 08 10](https://cloud.githubusercontent.com/assets/1658742/15815630/a1384572-2bce-11e6-8941-42ad37c5455c.png)

[2016-06-06 08:11] #53 closed

[2016-06-06 08:19] hpdang commented on #54
Yes, let's think how to make this registration page a bit more organized. I can see that in your proposed design, users need to go to the next tab/page to select Preferences in other to complete the form while the original everything happens in one single page. (I think fewer clicks is more efficient). I suggest you look at other log-in pages of different services and select the one you think best

[2016-06-06 08:53] #36 closed

[2016-06-06 08:56] #4 closed

[2016-06-06 09:14] kamishettysreeja25 opened #61 "UI/UX Design: Shifts Page"

[2016-06-06 09:14] sreejakshetty commented on #61
![screenshot_from_2016-06-06_09_53_21_1024](https://cloud.githubusercontent.com/assets/14835922/15817317/227d62ea-2bf5-11e6-8159-7bfe52680de0.png)
![screenshot_from_2016-06-06_09_54_15](https://cloud.githubusercontent.com/assets/14835922/15817336/35211cf2-2bf5-11e6-97d3-fffa8e5148d4.png)

[2016-06-06 09:19] sreejakshetty commented on #54
Instead of a two page process for registration.We can add the volunteer preferences below the personal details and the user can do the same registration with just one click at the bottom of the page.
Many sites have the same
![screenshot from 2016-06-06 14 26 16](https://cloud.githubusercontent.com/assets/14835922/15817430/93977420-2bf5-11e6-9c27-a87e0f34d3b8.png)

[2016-06-06 09:30] vuhung commented on #54
+1 with this simple registration process.

[2016-06-06 10:35] DishantK1807 opened #62 "Feature Request: Admin: Changing the databases via admin settings"
For managing different events on the same system we can change the databases via admin settings

I am creating a dropdown in which we can select through the existing databases.

![capture2](https://cloud.githubusercontent.com/assets/7828295/15819370/6913cefa-2c00-11e6-8c1a-b30c7b4b6284.PNG)

[2016-06-06 10:36] DishantK1807 commented on #62
Can we use mysql_connect() in this system for switching databases?

[2016-06-06 10:43] DishantK1807 opened #63 "Feature Request: Admin: Creating a drop-down option"
I'll be creating a drop-down menu in Settings page for admin for choosing databases

[2016-06-06 10:44] DishantK1807 opened #64 "Feature Reguest : Admin: Getting list of available databases"
Getting the list of available databases in the system

[2016-06-06 10:46] DishantK1807 commented on #63
#62

[2016-06-06 10:47] DishantK1807 commented on #64
#62

[2016-06-06 10:49] DishantK1807 opened #65 "Feature Request: Admin: Switching in databases"
Switch between the available databases in the system

[2016-06-06 10:50] vuhung commented on #63
jQuery style dropdown list? :)

[2016-06-06 10:51] DishantK1807 commented on #63
@vuhung : yes. Like we have for themes and languages in settings

[2016-06-06 10:52] DishantK1807 commented on #63
But I'll need to create a new page for admin settings as the same page is also used by the user settings.

[2016-06-06 10:54] DishantK1807 opened #66 "Feature Request: Admin: creating new databases"
Creating new databases dynamically from the settings page of the Admin.

[2016-06-06 10:55] DishantK1807 commented on #66
#62

[2016-06-06 10:55] DishantK1807 commented on #65
#62

[2016-06-06 10:58] DishantK1807 opened #67 "Feature Request: Creating new Settings page for Admin"
Creating new settings page for admin for implementing #62, #63, #64, #65, #66.

[2016-06-06 13:55] kamishettysreeja25 opened #70 "UI/UX: Responsive Pages"
**Problem**
Currently, the Pages has some fixed positions for elements. The buttons/fonts are not visible if the width of the page is thin.
We need to make the fonts/buttons visible irrespective of browser and width of the page

[2016-06-07 06:03] DishantK1807 commented on #67
created different settings page for User and Admin
![screenshot 23](https://cloud.githubusercontent.com/assets/7828295/15847443/847a56fc-2ca3-11e6-9829-0fbebbb32005.png)
User Settings page

![screenshot 24](https://cloud.githubusercontent.com/assets/7828295/15847445/8e9d6656-2ca3-11e6-8246-53f0fb875879.png)
Admin Settings Page

[2016-06-07 07:29] DishantK1807 commented on #67
Tested on the online server.
Issue can be closed.

[2016-06-07 10:00] #59 closed

[2016-06-07 10:20] kamishettysreeja25 opened #74 "Feature Guest : Guest can change the theme before registration"
Guest should be given option to change the theme before registration.

[2016-06-07 10:23] DishantK1807 commented on #57
Deleted branches:
- Unit_tests
- theme
- stats
- remove-sessionhelper
- edit-news-comments
- Travis_config

As they were stale and of no use.

[2016-06-07 10:24] kamishettysreeja25 opened #75 "Feature Request : Admin : Admin can edit the display message"
Admin should be given option to change the display/welcome message in the registration form .so that it fits into different events .

[2016-06-07 12:30] hpdang commented on #74
I think we don't really need this. Can you just set the white background as default like attached image? Thanks.
![screenshot from 2016-06-07 14 29 38](https://cloud.githubusercontent.com/assets/1658742/15857587/6dfe048c-2cbc-11e6-8259-26507cae04cb.png)

[2016-06-07 12:44] sreejakshetty commented on #74
Yes , I can change it .I will set the background as white.
Thanks.
On 7 Jun 2016 6:00 p.m., "Hong Phuc Dang" notifications@github.com wrote:

[2016-06-08 02:42] kamishettysreeja25 opened #77 "Admin : Shifts : Date/Time Picker for edit shifts view"
![screenshot from 2016-06-08 08 00 36](https://cloud.githubusercontent.com/assets/14835922/15881064/aa9c132c-2d50-11e6-9a81-bff10caf4f92.png)

[2016-06-08 02:44] kamishettysreeja25 opened #78 "Shifts : Different timestamps saved for shifts"
![screenshot from 2016-06-08 08 03 49](https://cloud.githubusercontent.com/assets/14835922/15881089/e2ec3144-2d50-11e6-89db-eb3b86552148.png)
![screenshot from 2016-06-08 08 02 01](https://cloud.githubusercontent.com/assets/14835922/15881090/e3480cb2-2d50-11e6-8611-f7b9fd24eada.png)

[2016-06-08 04:40] hongquan commented on #62
We should define `event` table and make appropriate relation ship between other models (`User`, `Shift`...) and this `Event` model. We also improve admin to let manage by events.

[2016-06-08 05:21] vuhung commented on #77
My impression for this screen:
1. Ui is so simple
2. Should replace with jQuery?

No excuse for being brief on mobile.

[2016-06-08 05:31] DishantK1807 commented on #62
@hongquan : will be following this approach now.

[2016-06-08 05:45] #74 closed

[2016-06-08 06:10] DishantK1807 opened #79 "Extracting changes made in install.sql"
Extracting changes made in install.sql and making those changes to update.sql

[2016-06-08 06:11] DishantK1807 commented on #62
Closing this issue as new approach will be followed

[2016-06-08 06:11] #62 closed

[2016-06-08 06:12] DishantK1807 commented on #63
Closing this issue as new approach will be followed.

[2016-06-08 06:12] #63 closed

[2016-06-08 06:12] DishantK1807 commented on #64
Closing this issue as new approach will be followed.

[2016-06-08 06:12] #64 closed

[2016-06-08 06:12] DishantK1807 commented on #65
Closing this issue as new approach will be followed.

[2016-06-08 06:12] #65 closed

[2016-06-08 06:13] DishantK1807 commented on #66
Closing this issue as new approach will be followed.

[2016-06-08 06:13] #66 closed

[2016-06-08 06:14] DishantK1807 opened #80 "Feature Request: Managing different events on the same system"
This feature will enable the admin to manage different events on the same system.

[2016-06-08 06:16] DishantK1807 opened #81 "Creating new events page"
creating new Events page for #80

[2016-06-08 06:17] DishantK1807 opened #82 "Creating new table 'Events'"
creating new table 'Events' in the database for managing different on the same system #80

[2016-06-08 06:38] DishantK1807 commented on #80
@hpdang : Can you please provide with the suggestions for the admin pages, for managing different events on the same system.

[2016-06-08 06:47] sreejakshetty commented on #77
This page is only for admin to edit the shifts .  For editing shifts , I feel simple UI is better.

[2016-06-08 06:57] hpdang commented on #80
I am thinking of something like Eventnook maybe. We don't have to make exactly the same though. What do you think?
![screenshot from 2016-06-08 08 53 42](https://cloud.githubusercontent.com/assets/1658742/15885328/da0abd2e-2d56-11e6-9498-f6706658d2ac.png)
![screenshot from 2016-06-08 08 54 16](https://cloud.githubusercontent.com/assets/1658742/15885339/ec388b8e-2d56-11e6-8209-07f98df3b72f.png)

[2016-06-08 07:14] DishantK1807 commented on #80
@hongquan : What do you suggest ? My suggestion:
- We will make a new events page where the admin can make new events
- Users can register for specific events can change later if new events are added ( additional functionality- might not be required as of now though, as user can register for the shift which he/she wants to, belonging to any event)
- The description of the Event will be provided by

[2016-06-08 09:39] hpdang commented on #80
Hi Dishant, I am not quite sure if I understand you. For the Event Manage Page, I would like to have something like Eventnook where you can view  1. Upcoming event 2. Create a new event 3. Look at the past events.
- Create a new event tab: it should generate a brand new system (Fresh). a) Admin will provide the new description. b) A default set of angeltypes can be used for different events and ad

[2016-06-08 10:38] hongquan commented on #80
I think @hpdang explained well.

No. When registering, user doesn't need to be assigned to any event. After she registers, she can go to Profile page or Event list page and choose which event to join. Or the website admin will assign her to appropriate event.

From the database view, there will be many-to-many relationship in these pairs of models:
- `User` - `Event`: 1 event can have many user. 1

[2016-06-09 02:34] DishantK1807 commented on #80
@hongquan : got it now. Yes I know about many-to-many relationships in database, but haven't implemented them yet.
Also working on creating new feature ( Events page) is a big task and will take time. I'll dividing it into smaller issues to achieve this goal. I need to get my feet wet with the current coding system (writing model, controller, view and pages files for the system) to design a new sy

[2016-06-09 04:13] hongquan commented on #80
For implementing many-to-many relation, people will create an intermediary join table, which has foreign keys to the two related tables. You can read more here: https://laravel.com/docs/5.1/eloquent-relationships#many-to-many

[2016-06-09 04:16] DishantK1807 commented on #80
@hongquan: Thank you. I'll refer to them while designing the database.

[2016-06-09 09:37] kamishettysreeja25 opened #84 "Admin : Log Page : Different time stamp saved after creating shifts."
![screenshot from 2016-06-09 15 06 13](https://cloud.githubusercontent.com/assets/14835922/15925172/bc624276-2e53-11e6-9875-37641687f01c.png)

[2016-06-09 12:17] DishantK1807 opened #85 "Updating update.sql"
#79

[2016-06-10 04:19] vuhung commented on #5
Nice to have @arunimasharma on board!

[2016-06-10 17:25] DishantK1807 opened #88 "Update user_model.php"
Updating the code for User_model.php for the changes made in the user table.

[2016-06-10 17:29] DishantK1807 opened #89 "Updating settings page for User"
Updating the user's setting page to change the options that were added to the user's table. Like changing the current city option.

![screenshot 23](https://cloud.githubusercontent.com/assets/7828295/15973013/ed01e2e0-2f5e-11e6-9594-61f37236b4f9.png)

[2016-06-10 17:35] DishantK1807 opened #90 "Updating users_view.php"
Updating the code for users_view.php for the changes made in the user table.

[2016-06-10 17:50] kamishettysreeja25 opened #91 "Unable to view shifts under new style view"
![screenshot from 2016-06-10 22 25 27](https://cloud.githubusercontent.com/assets/14835922/15973563/d6c77bd6-2f61-11e6-9464-60f4c098d392.png)

[2016-06-11 06:46] #84 closed

[2016-06-11 06:51] hpdang commented on #78
Hi Sreeja,

the What do you want to do? (Description of job types) at the bottom of the form (is it a default) or it will change based on inputs of user-admin?

[2016-06-11 08:29] sreejakshetty commented on #78
Hi hpdang,
![screenshot from 2016-06-11 13 55 41](https://cloud.githubusercontent.com/assets/14835922/15984097/33cde7dc-2fdc-11e6-8879-f20a46327dcf.png)
Description of job types are available here.We can also add the information after a user/angel wants to be a angel . what do you say?

[2016-06-12 06:43] DishantK1807 commented on #5
This issue can be closed as I've uploaded the languages to be updated by me and the PR is merged. Beginner developers will work on other issues #52.

[2016-06-12 06:46] DishantK1807 commented on #52
Languages implement as of now:
- Bulgarian
- English UK
- French
- Irish
- Hindi-IN
- Hungarian
- Punjabi-IN
- Spanish
- Chinese- simplified
- Tamil-IN

@arunimasharma : Please add more languages.
Cheers!

[2016-06-12 06:51] DishantK1807 opened #94 "Adding more search options in user_model"
Implementing function for search by:
- Facebook link (get user details by facebook link)
- Github link (get user details by Github link)
- Twitter link (get user details by twitter link)
- Organization (get user details by organization name)

[2016-06-12 06:51] DishantK1807 commented on #88
Issue can be closed.

[2016-06-12 08:42] arunimasharma commented on #52
@DishantK1807 : Alright!

[2016-06-12 08:43] arunimasharma commented on #5
@vuhung : Thank you :)

[2016-06-13 04:57] #88 closed

[2016-06-13 05:02] #85 closed

[2016-06-13 05:04] #79 closed

[2016-06-13 05:37] DishantK1807 commented on #52
@arunimasharma : Please update the list of languages that you are working on, so we don't have other developers working on the same languages. Nice to have you on board. :)

Cheers!

[2016-06-13 08:22] arunimasharma commented on #52
@DishantK1807 : Thank you :) Here's the list of languages I will be working on, however, if time permits, I will contribute for more.

1) Finnish (Finland)
2) Nepali (Indian)
3) Urdu (India)
4) Marathi (India)
5) Kannada (India)
6) Gujarati (India)
7) Indonesian (Indonesia)
8) Portuguese (Portugal)
9) Swedish ( Sweden)
10) Vietnamese (Vietnam)
11) Mexican (Mexico)
12) Latin (South America)
13) Rom

[2016-06-13 11:31] #54 closed

[2016-06-13 11:47] #5 closed

[2016-06-13 11:48] #67 closed

[2016-06-13 11:48] #75 closed

[2016-06-13 11:48] hpdang opened #97 "Feature Request : Admin : Admin can edit the display message"

[2016-06-14 03:52] kamishettysreeja25 opened #99 "Maintaining Code standards"
Removing blank lines and trailing spaces of the files committed .

[2016-06-14 03:54] DishantK1807 opened #100 "Translate comments in install.sql"
Translating the comments in install.sql and removing the whitespaces. #56

[2016-06-14 09:14] DishantK1807 opened #102 "Feature Request: Languages as profile attributes"
engelsystem#254

Would be helpful to find shifts where you have a team with your preferred language.User's with same native language can communicate better.

![capture](https://cloud.githubusercontent.com/assets/7828295/16037366/c65dc28a-323d-11e6-886d-e3fc131f06ab.PNG)

Will be adding a new field that will display the native language and other languages that the user knows, that will help other u

[2016-06-14 09:21] DishantK1807 opened #103 "Updating the DB for `Users` table"
Adding a new column in the `Users` table for native language and other languages that the user knows.

#102

[2016-06-14 09:23] DishantK1807 opened #104 "Updating the Registration form"
Updating the registration form for asking, native language and other languages from the user and marking the native language as `REQUIRED`.
#102

[2016-06-14 09:24] DishantK1807 opened #105 "Displaying the native language and other languages on the user's page"
Displaying the native language and other languages on the user's page that will help the user in choosing the shifts, for better communication with other angels.
#102

[2016-06-15 08:33] DishantK1807 commented on #9
Closing this issue, as it was a general query.

[2016-06-15 08:33] #9 closed

[2016-06-15 09:20] #82 closed

[2016-06-15 12:29] kamishettysreeja25 opened #108 "Shifts : Setting default time to local time of user"
![screenshot from 2016-06-15 17 41 28](https://cloud.githubusercontent.com/assets/14835922/16079718/a2403a28-3322-11e6-904a-b4489469cb31.png)
![screenshot from 2016-06-15 17 18 29](https://cloud.githubusercontent.com/assets/14835922/16079724/a720bee6-3322-11e6-9f69-6eaa72cb94a6.png)
As we can see the default time is set to berlin's local time . We need to change it to local time of the user.

[2016-06-15 16:57] #91 closed

[2016-06-16 03:18] #78 closed

[2016-06-16 03:20] #77 closed

[2016-06-16 04:32] sreejakshetty commented on #55
Fixed here #106

[2016-06-16 04:32] #55 closed

[2016-06-16 06:59] sreejakshetty commented on #108
![screenshot from 2016-06-16 12 25 37](https://cloud.githubusercontent.com/assets/14835922/16107949/8926ea3c-33bd-11e6-93cc-886503ffb5e4.png)

**initially  the time is set to server time .**

![screenshot from 2016-06-16 12 26 00](https://cloud.githubusercontent.com/assets/14835922/16107970/bb45a13e-33bd-11e6-9518-dac4c4bc9fb1.png)
once we press the **time image**  it is set to local system time.

[2016-06-16 14:01] sreejakshetty commented on #61
Creating a **multi select drop-down menu** for selecting rooms , angeltypes and occupancy.
Shifts page view will be like this
![screenshot from 2016-06-16 19 26 57](https://cloud.githubusercontent.com/assets/14835922/16119278/695be97e-33f8-11e6-8901-f21fb58585e6.png)
After pressing select rooms  the view will be like this
![screenshot from 2016-06-16 19 20 04](https://cloud.githubusercontent.com/a

[2016-06-17 04:16] hongquan commented on #108
@kamishettysreeja25 When user visit the Shift list page the first time, the datetime filter will have a default value. How this value is determined?

[2016-06-17 04:45] sreejakshetty commented on #108
@hongquan The value is server time . As the shifts are created by admin initially it shows the current time of server/admin . When we press now it is set to local system time of the user.
We can change the timezone of admin in config.php file . We can create a issue which can allow admin to change his timezone in admin settings page.

[2016-06-17 05:11] hongquan commented on #108
Where did you look into to give the conclusion that that value is the current time of server time? See the pic below, it is not Berlin time.

![selection_100](https://cloud.githubusercontent.com/assets/314607/16141321/786ebb4e-3484-11e6-845b-130f95170cd3.png)

No matter wheter I set timezone in config.php to "Europe/Berlin" or "Asia/Ho_Chi_Minh", the default value in the filter is still the same (

[2016-06-17 05:20] sreejakshetty commented on #108
@hongquan I am able to view the local time of berlin .
![screenshot from 2016-06-17 10 48 34](https://cloud.githubusercontent.com/assets/14835922/16141422/2080c216-3479-11e6-9337-b3a9e164c0d6.png)
![screenshot from 2016-06-17 10 48 07](https://cloud.githubusercontent.com/assets/14835922/16141421/2080b208-3479-11e6-8a95-f6d8de69e865.png)

[2016-06-17 05:25] kamishettysreeja25 opened #111 "Feature Request : Admin : Admin can set timezone"
Presently , admin needs to change the default time zone in config.php . We can add the option of changing the default time zone in admin settings page.
![screenshot from 2016-06-17 10 55 15](https://cloud.githubusercontent.com/assets/14835922/16141505/fdc19830-3479-11e6-85cf-c2367ff94df1.png)

[2016-06-17 05:39] hongquan commented on #108
You have to look into PHP code, to see how the value is determine, not by comparing with the clock like that. What if the match between the clock and what you see in the web is mere coincidence?

[2016-06-17 09:22] sreejakshetty commented on #15
Once admin presses the edit button , admin is redirected to edit shifts page where admin can either update the existing shift or create a new shift by simply changing date or time from the existing shift ,
![screenshot from 2016-06-17 14 49 49](https://cloud.githubusercontent.com/assets/14835922/16146259/c6b9384a-349a-11e6-8a6e-af36131a587f.png)

[2016-06-17 17:52] DishantK1807 commented on #14
Tasks:
- [x] Adding checkboxes to all the shifts and a delete button  below or on the side the of Filter button
- [ ] Implementing batch Shift delete, (selecting checkboxes for the shifts to be deleted and deleting those shifts by clicking on delete button)

[2016-06-17 17:54] DishantK1807 opened #113 "Feature Request: Adding checkboxes and delete button in shifts page"
Adding checkboxes to every shift and a delete button in shifts page, to implement Batch shift-deleting. #14

[2016-06-18 07:57] DishantK1807 commented on #100
This issue can be closed.

[2016-06-18 13:24] DishantK1807 commented on #12
![capture](https://cloud.githubusercontent.com/assets/7828295/16171182/17ea0370-3586-11e6-9ba2-66a688cf53ae.PNG)

tested on online server.
This issue can be closed.

[2016-06-20 02:28] sreejakshetty commented on #99
This issue can be closed fixed here #106

[2016-06-20 02:28] #99 closed

[2016-06-20 03:11] hongquan commented on #102
How should the database be to store "native language" and "other languages"?
How many "other languages" you want to store?

[2016-06-20 16:33] sreejakshetty commented on #108
@hongquan
![screenshot from 2016-06-20 21 43 58](https://cloud.githubusercontent.com/assets/14835922/16201699/37af3cec-3730-11e6-96e0-3bdfd9a01443.png)
![screenshot from 2016-06-20 21 44 30](https://cloud.githubusercontent.com/assets/14835922/16202234/70a1f7cc-3732-11e6-8637-4be8b323a91d.png)
The start time and end time are session variables.
Initially the start time is set to date("H:i") = > this

[2016-06-20 17:04] hongquan commented on #108
No, PHP `date` function doesn't care about timezone (http://php.net/manual/en/function.date.php). It simply return local time of server, i.e the time in the clock of the server, no matter which timezone the server is, or our _config.php_ is.

It means that if the server clock is 6:30, it does not matter that you set timezone in _config.php_ as Berlin or New Delhi , `date()` function still returns

[2016-06-20 17:04] #108 closed

[2016-06-20 17:42] DishantK1807 commented on #113
![batch_delete_old](https://cloud.githubusercontent.com/assets/7828295/16204304/e3f4b972-373b-11e6-8948-d070962f6cc8.png)

Added checkboxes and delete button to the old style

![batch_delete_new](https://cloud.githubusercontent.com/assets/7828295/16204305/e3fbc7e4-373b-11e6-96a2-b420fdd21652.png)

Added checkboxes and delete button to the new style

Will commit the code together, with the batch de

[2016-06-20 21:57] hpdang commented on #102
I don't think this feature is essential.

[2016-06-20 22:05] #15 closed

[2016-06-20 22:10] #97 closed

[2016-06-20 22:17] #105 closed

[2016-06-20 22:18] #100 closed

[2016-06-20 22:18] #56 closed

[2016-06-21 00:58] DishantK1807 commented on #102
This issue was on engelsystem issue list. Should I stop working on it then?

[2016-06-21 03:53] DishantK1807 opened #114 "Use temporary files for exporting data"

[2016-06-21 04:04] hongquan commented on #108
I think I made mistake. The timezone of PHP `date()` function is affected by `date_default_timezone_set`

[2016-06-21 04:10] DishantK1807 commented on #114
Fixed here #68

[2016-06-21 04:16] sreejakshetty commented on #108
@hongquan Yes , it is affected by `date()`function . date() gives the data or time of the default timezone set.
That is the reason when we change the timezone the time and data changes in shifts page .

[2016-06-21 04:50] #12 closed

[2016-06-21 04:51] #114 closed

[2016-06-21 05:00] DishantK1807 commented on #102
@hpdang : cc : @hongquan  should I work on this issue as this issue was mentioned in Engelsystem issues, or leave it and close the issue?

[2016-06-21 06:31] sreejakshetty commented on #2
This is issue can be closed has this is solved in multiple issues.

[2016-06-21 06:31] #2 closed

[2016-06-21 06:40] sreejakshetty commented on #3
![screenshot from 2016-06-21 12 06 46](https://cloud.githubusercontent.com/assets/14835922/16220187/cf3ebdf8-37a8-11e6-85f8-9d8406980561.png)
@hpdang We can add search option in All Angles Page so that admin can easily search for users as in active angels page and arrived angels like this
![screenshot from 2016-06-21 12 10 10](https://cloud.githubusercontent.com/assets/14835922/16220222/1bb3915e-3

[2016-06-21 06:43] kamishettysreeja25 opened #115 "Documenting features"

[2016-06-21 06:45] sreejakshetty commented on #115
We need to document all the feature implemented, their functionalities and usage.

[2016-06-21 10:52] DishantK1807 commented on #57
Deleted branches:
- admin_settings
- user_model
- db_maintenance
- code_readability
- export_database

[2016-06-21 16:35] #21 closed

[2016-06-22 05:24] DishantK1807 opened #118 "Translating comments of user_shift.php and sys_template.php"

[2016-06-22 05:24] DishantK1807 commented on #118
fixed here #117

[2016-06-22 05:25] DishantK1807 commented on #14
#117

[2016-06-22 05:25] DishantK1807 commented on #113
Fixed here: #117

[2016-06-22 05:36] hpdang commented on #102
yes you can work on it.

[2016-06-22 06:15] sreejakshetty commented on #111
closing this issue as discussed in this thread https://groups.google.com/forum/#!topic/engelsystem/22ys9gqwXnI

[2016-06-22 06:15] #111 closed

[2016-06-22 06:18] kamishettysreeja25 opened #119 "Feature Request : User : Adding timezone field"
Allow user to enter the timezone so that all the shifts are displayed in user timezone

[2016-06-22 06:19] kamishettysreeja25 opened #120 "Feature Request : Shifts : Adding timezone to events"

[2016-06-22 06:30] kamishettysreeja25 opened #121 "Edit User Page : Bug"
![screenshot from 2016-06-22 12 00 08](https://cloud.githubusercontent.com/assets/14835922/16256609/e45ab44e-3870-11e6-8bf3-25a412a5e82c.png)
city is saved in place of last name

[2016-06-22 06:49] DishantK1807 commented on #23
@imujjwal96: make a PR to branch `date/time_pickerusers`

[2016-06-22 07:26] imujjwal96 commented on #23
@DishantK1807 OK!

[2016-06-23 03:52] DishantK1807 opened #124 "Feature: Adding Captcha to the registration form."
#18

[2016-06-23 04:10] DishantK1807 commented on #124
![captcha_off](https://cloud.githubusercontent.com/assets/7828295/16291598/4fea718a-3926-11e6-99a9-165ae26eaf60.PNG)
Captcha in the registration form

![captcha_on](https://cloud.githubusercontent.com/assets/7828295/16291603/5b2cb01c-3926-11e6-8839-15dee56e6cb5.PNG)
On clicking on the captcha

![captcha_error](https://cloud.githubusercontent.com/assets/7828295/16291604/61ea4a4a-3926-11e6-90d5-0e2b

[2016-06-23 08:06] DishantK1807 opened #127 "Adding forgot password link"
Adding forgot password link in the error message of the registration form, when "Email already exist" error message is displayed.
![error_before](https://cloud.githubusercontent.com/assets/7828295/16295923/44b9c146-3947-11e6-833b-03c25f2eff81.PNG)

[2016-06-23 08:10] DishantK1807 commented on #127
![screenshot 30](https://cloud.githubusercontent.com/assets/7828295/16296062/f8ffa346-3947-11e6-8195-b39fcb891471.png)

[2016-06-23 18:02] #121 closed

[2016-06-23 18:03] #3 closed

[2016-06-24 04:54] DishantK1807 opened #128 "Adding captcha to shifts signup page"
#18

[2016-06-24 05:40] DishantK1807 opened #132 "Add documentation for captcha"
#18
Adding documentation for setting up captcha on local as well as online server

[2016-06-24 05:49] DishantK1807 commented on #18
All tasks for this issue completed.
Tested on local and online server. This issue can be closed

[2016-06-24 08:23] mariobehling opened #134 "Support Open Event JSON Format and APIs"
The goal of the volunteer system is to facilitate the work for event organizers. We need to be able to add a schedule and get in updates easily. The open event system is already creating a schedule and list of speakers. In order to get this data into Engelsystem we need to support the JSON format and APIs. Please propose and implement

* [ ] upload of Open Event JSON
* [ ] Connection to API endpoi

[2016-06-24 09:58] mariobehling opened #135 "Cleanup Project: Delete Branches, set up development branch, deploy dev branch to heroku"
We urgently need to improve the project flow. Please:
* [x] Clean up and delete all unused branches
* [x] Set up a branch "development"
* [x] From now on always commit to "development" branch
* [x] Make a biweekly merge on Tuesday and Friday to Master branch - after testing that everything works
* [x] Set up automatic deployment to heroku of development branch

[2016-06-24 10:20] sreejakshetty commented on #135
deleted all these branches
captcha-documentation
documentation
shifts_captcha
registration_form
search
Error_Handling
db_update
events_table
error_shifts
events_table
admin_message
Lang_support
Date/Time-Picker
code_cleanup
color_schema

[2016-06-24 10:26] sreejakshetty commented on #135
![screenshot from 2016-06-24 15 55 25](https://cloud.githubusercontent.com/assets/14835922/16335414/1466af4e-3a24-11e6-9ac2-7df31db97139.png)
Deleted all unused branches and set up a new branch "development"

[2016-06-24 10:42] mariobehling commented on #135
@kamishettysreeja25 What about the other branches? Why are they still needed. From my perspective only development and master are needed.

[2016-06-24 10:47] sreejakshetty commented on #135
@mariobehling there were PR's opened from the branches and commits . deleted those branches now.
Should I delete the staging branch ?

[2016-06-24 10:51] mariobehling commented on #135
yes, please.

[2016-06-24 10:54] hongquan opened #136 "Automatic deployment to Heroku from development branch"
Parent: #135

The website on Heroku will play role of staging server.

Reference:
https://devcenter.heroku.com/articles/github-integration#automatic-deploys

[2016-06-24 10:55] sreejakshetty commented on #135
Deleted all branches
date/time_pickerusers @DishantK1807 is working
![screenshot from 2016-06-24 16 23 32](https://cloud.githubusercontent.com/assets/14835922/16336054/05c979cc-3a28-11e6-8c23-2b03529ca03b.png)

[2016-06-24 10:58] hongquan opened #137 "Database migration"
Some features need change in database schema. Database migration is a way to apply those changes to existing website. This feature is also needed by #136, because we will continuously update a running website on Heroku (staging server)

[2016-06-24 13:35] sreejakshetty commented on #136
@hongquan I am unable to do automatic deployment.
![screenshot from 2016-06-24 18 59 15](https://cloud.githubusercontent.com/assets/14835922/16339008/d95b2ef6-3a3d-11e6-827a-f3e42ed6c289.png)

[2016-06-24 15:53] mariobehling commented on #136
I gave you admin access. Please try again.

[2016-06-24 16:39] DishantK1807 commented on #135
Deleted the branch `users_table`, will be working on this issue later as we will be implementing database migration.
Need to make some changes in the date/time_pickerusers branch, will make those changes and make a PR.

[2016-06-24 17:22] DishantK1807 commented on #136
@hongquan : I was able to set development on Heroku.
![capture2](https://cloud.githubusercontent.com/assets/7828295/16345124/dd8b4afe-3a5d-11e6-81bc-71a6932b69da.PNG)

but when I open the app it shows forbidden access.
![capture](https://cloud.githubusercontent.com/assets/7828295/16345137/f1312e16-3a5d-11e6-8b56-db67baea6768.PNG)

[2016-06-24 17:24] DishantK1807 commented on #137
@hongquan : Database migrations as in writing `update.php` files for the changes that we made to the database?

[2016-06-25 10:59] DishantK1807 commented on #137
And do we need to write migration files for the existing schema or we need to write it for only the changes?

[2016-06-25 11:48] #13 closed

[2016-06-25 12:15] mariobehling commented on #137
Just try what is easiest and gets us working and we improve step by step. Rather make a number of smaller improvements than big steps. So, we can speed up the process. No issue should take longer than a day.

[2016-06-25 12:29] DishantK1807 commented on #113
PR merged. Issue can be closed.

[2016-06-25 12:29] #113 closed

[2016-06-25 12:29] DishantK1807 commented on #124
PR merged. Issue can be closed.

[2016-06-25 12:29] #124 closed

[2016-06-25 12:30] DishantK1807 commented on #132
PR merged. Issue can be closed.

[2016-06-25 12:30] #132 closed

[2016-06-25 12:30] DishantK1807 commented on #128
PR merged. Issue can be closed.

[2016-06-25 12:30] #128 closed

[2016-06-25 12:33] DishantK1807 commented on #135
Deleted branch date/time_pickerusers

[2016-06-25 12:33] DishantK1807 commented on #127
PR merged. Issue can be closed.

[2016-06-25 12:33] #127 closed

[2016-06-25 12:33] DishantK1807 commented on #118
PR merged. Issue can be closed.

[2016-06-25 12:33] #118 closed

[2016-06-25 12:34] DishantK1807 commented on #57
Fixing here. #135
This issue can be closed(duplicate issue)

[2016-06-25 12:34] #57 closed

[2016-06-25 12:34] sreejakshetty commented on #119
closed via  #138

[2016-06-25 12:34] #119 closed

[2016-06-25 12:35] sreejakshetty commented on #120
closed via  #138

[2016-06-25 12:35] #120 closed

[2016-06-25 12:35] sreejakshetty commented on #115
closed via #131

[2016-06-25 12:35] #115 closed

[2016-06-25 12:36] DishantK1807 commented on #23
Made commits to the development branch.
- https://github.com/fossasia/engelsystem/commit/4e1ed33e27c80bd84537b499cc981cc03ba63ef7
- https://github.com/fossasia/engelsystem/commit/a89d18eba8d636f4b3c3a7412fde9e2a9bb84330

[2016-06-25 12:37] DishantK1807 commented on #23
![date_picker1](https://cloud.githubusercontent.com/assets/7828295/16356696/af1d0638-3aff-11e6-9477-643840019e1f.png)

This issue can be closed

[2016-06-25 12:41] DishantK1807 commented on #14
PR merged. This issue can be closed.

[2016-06-25 12:41] #14 closed

[2016-06-25 12:41] DishantK1807 commented on #18
All tasks accomplished. PR is merged. This issue can be closed

[2016-06-25 12:44] sreejakshetty commented on #135
deleted shifts_timezone branch
now only master and development branches present

[2016-06-25 18:37] DishantK1807 commented on #137
Currently for database migration, I was going through different libraries for database migration in PHP. As @hongquan  suggested in our previous conversations here, https://groups.google.com/forum/#!topic/engelsystem/Yr4U5yxcfzE we can use https://phinx.org/
I am going through its documentation on how to implement it on our system.

[2016-06-25 18:42] DishantK1807 commented on #136
@kamishettysreeja25 : https://devcenter.heroku.com/articles/php-support#activation
We can use this for help.

[2016-06-27 10:26] DishantK1807 commented on #134
@mariobehling :  My proposal for implementation of the above involves the following:
- Creating a new events page and allowing admin to add and edit the events.
- Updating the database(tables) according to the data received from the APIs.
- Importing the JSON formats from the API's and on the events page and updating the data in the database.
- Implementing the APIs.

Will be creating separate iss

[2016-06-27 10:34] DishantK1807 commented on #137
@hongquan : I went through the documentation of implementing migrations through https://phinx.org/,
but it uses classes for implementing migrations, and we do not use any framework in our system so we could implement this library.
I went through many other libraries as well, like https://packagist.org/packages/php-database-migration/php-database-migration, but it requires framework too.

What I su

[2016-06-27 11:54] kamishettysreeja25 opened #140 "mysql Error"
![screenshot from 2016-06-27 17 22 41](https://cloud.githubusercontent.com/assets/14835922/16378826/d408a820-3c8b-11e6-844c-a2c8a21cf323.png)
@DishantK1807 we are getting this error while importing the update.sql file to the database

[2016-06-27 17:58] DishantK1807 commented on #140
@kamishettysreeja25 : Please check now. Committed the changes to the development branch. Now it runs fine on my system.

[2016-06-27 17:59] DishantK1807 commented on #140
https://github.com/fossasia/engelsystem/commit/315b7ada5ad25f3111c2a11bfb078b99341ebcdf

[2016-06-27 18:23] mariobehling commented on #134
Sounds good. Thank you.

[2016-06-27 18:41] mariobehling commented on #136
@kamishettysreeja25 Please give @rafalkowalski access

[2016-06-27 20:10] rafalkowalski commented on #136
@DishantK1807 i also got the same error have you tried to configure Procfile file? I don't know PHP enough, maybe this can help you https://devcenter.heroku.com/articles/deploying-php#configuring-the-document-root

[2016-06-28 02:21] hongquan commented on #137
We will run via PHP command line

[2016-06-28 03:33] aviaryan commented on #136
From [Heroku PHP docs](https://devcenter.heroku.com/articles/deploying-php)

So please add a blank composer.json to the root of this repo

Then as @rafalkowalski said, add a `Procfile` to the root. If the project's index.php is in `public/` directory, it should have the following contents ..

[code]

Then you will have to setup Database on Heroku. Assuming you are using Mysql, follow this guide ht

[2016-06-28 04:19] sreejakshetty commented on #61
new shifts page design
![screenshot from 2016-06-28 09 19 26](https://cloud.githubusercontent.com/assets/14835922/16403678/5ea7d648-3d15-11e6-9901-3341dbc49a91.png)
![screenshot from 2016-06-28 09 50 25](https://cloud.githubusercontent.com/assets/14835922/16403726/c222ac66-3d15-11e6-92b4-94e5f2c989f1.png)
https://github.com/fossasia/engelsystem/commit/a527e8cc60cbebb1fc4de03edd47510e37b0403b
https

[2016-06-28 04:46] sreejakshetty commented on #136
Hi @aviaryan

 We are deploying development branch. composer.json file exits in the development branch.

Sure , Thanks I will try adding `Procfile`. I think I have missed that .

[2016-06-28 05:40] sreejakshetty commented on #140
Fixed here https://github.com/fossasia/engelsystem/commit/315b7ada5ad25f3111c2a11bfb078b99341ebcdf

[2016-06-28 05:40] #140 closed

[2016-06-28 06:20] mariobehling commented on #20
@kamishettysreeja25 Could you please tell me the origin of that feature request. Who made that request?

[2016-06-28 06:39] #18 closed

[2016-06-28 07:23] DishantK1807 commented on #136
Followed the steps mentioned, added the `Procfile` to update the document root, updated the database using cleardb, the app is deployed successfully but no content is viewed.
![capture](https://cloud.githubusercontent.com/assets/7828295/16407063/559964f8-3d2f-11e6-83d2-f365c4869e69.PNG)

[2016-06-28 07:33] mariobehling opened #141 "Integrat more automated testing"
We already have travis and code climate. I wonder, if it would be good to see if we can get more data and automatic comments about our code like what houndci does for example (for other languages). What options do we have for php? Please check and evaluate, which ones are most suitable for this project.
* [ ] https://nitpick-ci.com
* [ ] https://codecov.io
* [ ] https://www.codacy.com

[2016-06-28 07:42] sreejakshetty commented on #136
@DishantK1807 can you share your  `config/config.php`
We need to remove `config/config.php` from `.gitignore` as we can't copy the config.default.php to config.php on heroku to setup the system.

[2016-06-28 07:53] DishantK1807 commented on #136
@kamishettysreeja25: I am away from my laptop right now. Can you take it
from my forked repository? from the dev branch.

On Tue, Jun 28, 2016 at 1:12 PM, kamishetty sreeja <notifications@github.com

##

_Dishant Khanna_
_Student Developer,_\* Google Summer of Code*
_Web Developer,_ _Human Circle_

_Linke__dIn:_ https://in.linkedin.com/in/dishantkhanna

[2016-06-28 08:04] sreejakshetty commented on #136
@DishantK1807 . We need to change the configuration of config.php.
https://devcenter.heroku.com/articles/cleardb#using-cleardb-with-php

[code]

I have added the following lines.But even after changing config.php file I am unable to view .

[2016-06-28 09:06] aviaryan commented on #136
@kamishettysreeja25 Have you created clearDB database on heroku ?
`heroku addons:create cleardb:ignite`

[2016-06-28 09:21] sreejakshetty commented on #136
@aviaryan ,yes I have created clearDB database on heroku and imported the tables.
I deployed a sample php and mysql project following the same steps as I followed for engelsystem the sample project is successfully running but I am unable to view engelsystem.https://glacial-meadow-29445.herokuapp.com/index.php

[2016-06-28 09:59] msquare opened #142 "reCaptcha is not configurable, keys are in public repo and privacy problems"
There are a few points about the reCaptcha feature that need to be improved before they can be merged into engelsystem master:

1. Every configuration data (keys) has to be in config.php (and empty values in config.default.php). Never add site-specific private keys to a public repo.
2. Please make this feature able to be turned off via config.php (for example: simple boolean flag "enable recatpcha

[2016-06-28 10:01] msquare commented on #142
This addresses #18, #124, #128, #132

[2016-06-28 10:23] msquare opened #143 "display_msg in user table"
If you want to customize messages/sentences use the translation files. Texts from database should be translated and so please try to avoid storing interface texts in the database.

My idea:
Please remove the column from database and restore the original text in the source code. Make sure that it uses the translation function `_()` and then implement your wanted message into the `.po` files in the

[2016-06-28 10:30] msquare opened #144 "Improve user export"
There are a few things with the user export function that can be improved.

My ideas are:

1. The export is located under "FRAB import and export". FRAB is a system to manage events and has nothing to do with users. Restore this to "Frab import" and locate the export button on top of the users list (`users_list_controller()` and `Users_view()`).
2. The export writes a file to the file system. This

[2016-06-28 10:54] sreejakshetty commented on #143
@msquare sure, I will remove the **display_msg** field from user table and restore it to original
 but  it is easy to change the display message directly  in the admin settings page than to change in `.po` files.
Thank you

[2016-06-28 11:05] msquare commented on #143
Ok, great. If you want admins to change the message you are right. I talked to @mariobehling sunday and left him an idea about "configure the actual event". The idea is to create an entity containing the event's name, start+end date and start+end date of buildup/teardown. This can also contain a welcome message (not translated). All these infos then can be shown at the register/home page of the en

[2016-06-28 11:26] sreejakshetty commented on #143
Yes, I will make a new  table for `welcome message` . admin can configure them in the admin settings
Do we need to create a new admin view or we can add the features in admin settings ? Presently there is separate view for **admin settings** and **user settings**

Yes , I  also had the same thought while adding the field to User table.

I think it would create a problem in the admin settings page

[2016-06-28 11:35] msquare commented on #143
Ah. I didn't see the admin settings page feature - it seems not to be in the pull request on engelsystem.

I recommend to use the privilege mechanism to check if a user is allowed to access the admin settings.
Insert a new privilege into the privilege table and assign it to the group developers or archangels.
Then check for this privilege in the sourcecode using the `in_array()` function.

[2016-06-28 11:39] sreejakshetty commented on #143
I think it is present in the pull request made to engelsystem
![screenshot from 2016-06-28 17 06 45](https://cloud.githubusercontent.com/assets/14835922/16413987/c26d4860-3d52-11e6-91f9-1c90fdd137f0.png)

sure, I will use this method to check if a user is allowed or not.

[2016-06-28 11:42] msquare commented on #143
There may be another misunderstanding: The page you showed is the page for editing the user named "admin" - these are not any "admin settings" applying to the engelsystem itself. Or at least it was not ment to be such a page.

I would really like to introduce an "Settings" page containing engelsystem settings like recaptcha keys, welcome message, event dates, t-shirt-settings and more. This is a f

[2016-06-28 11:47] sreejakshetty commented on #143
Yes , I would like to work on it. I would create a new issue for it.So can you please tell what all should it contain and should it be present under the admin pages.
![screenshot from 2016-06-28 17 14 59](https://cloud.githubusercontent.com/assets/14835922/16414255/3b53f976-3d54-11e6-8c76-b85e322b3971.png)
changing the display message is present on the admin settings page

[2016-06-28 11:49] msquare commented on #143
Yes, of course.

[2016-06-28 11:52] kamishettysreeja25 opened #145 "Feature Request: Admin: Settings Page"
**Explanation:**
Creating a new settings page for admin containing all the engelsystem settings like recaptcha keys, welcome message, event dates, t-shirt-settings and more.

[2016-06-28 12:02] msquare commented on #145
This can include the following steps and contents:
1. create a privilege for accessing the settings page
2. create a settings table (event_name, buildup_start_date, event_start_date, event_end_date, teardown_end_date, event_welcome_msg)
3. create a model containing functions to insert+update settings
4. create controller + view containing edit form to edit the settings

If you want to move setting

[2016-06-28 12:07] sreejakshetty commented on #136
https://arcane-temple-12164.herokuapp.com/ I have again tried deploying but the same result I am unable to even view the page.
Did anyone fix it ?

[2016-06-28 13:40] sreejakshetty commented on #136
From heroku logs we are getting this error

[code]

[2016-06-28 14:11] hongquan commented on #136
This means the PHP on Heroku doesn't have _gettext_ library. You can ask Heroku to add missing library by _composer.json_ file.

[2016-06-28 14:14] sreejakshetty commented on #136
@hongquan how can we do it just adding the library for gettext library.
 Even after removing the line I am getting the same log error. I have mailed the heroku support regarding this.

[2016-06-28 14:30] hongquan commented on #136
You already have "keyword". Quick Google can give a solution http://stackoverflow.com/questions/32303089/how-to-install-gettext-extension-for-php-on-heroku

Which line?

[2016-06-28 14:32] sreejakshetty commented on #136
line no 8
`2016-06-28T13:07:04.001258+00:00 app[web.1]: [28-Jun-2016 13:07:03 UTC] PHP Fatal error:  Call to undefined function _() in /app/includes/view/User_view.php on line 8`

[2016-06-28 14:40] hongquan commented on #136
Don't you understand what "Call to undefined function" mean? It means that that line of code contains some undefined function. And it also means that this undefined function may also occurs in other lines (because we, the author of the code, are using that function). So, removing only line 8 doesn't mean that the use of that undefined function will completely disappear from our code.

When you rea

[2016-06-28 14:43] sreejakshetty commented on #136
I have fixed it https://arcane-temple-12164.herokuapp.com/
I will be changing the domain name and add automatic deployment to development branch.
Cheers!

[2016-06-28 15:18] sreejakshetty commented on #136
![screenshot from 2016-06-28 20 46 59](https://cloud.githubusercontent.com/assets/14835922/16421108/80a92ab0-3d71-11e6-8330-fc6e70601b3b.png)
enabled automatic deploy from development branch

[2016-06-28 17:47] DishantK1807 commented on #142
@msquare : Will be working on this issue and update the code for the suggestions that you mentioned.

[2016-06-29 13:34] mariobehling commented on #145
@kamishettysreeja25  Please provide a mockup/screenshot where you see that page added.

[2016-06-29 13:58] sreejakshetty commented on #136
![screenshot from 2016-06-29 19 25 30](https://cloud.githubusercontent.com/assets/14835922/16454699/6446aaaa-3e2f-11e6-9417-097d3f4dd336.png)
Added the domain name but unable to load the site **fossasia.engel.com**

[2016-06-29 14:14] mariobehling commented on #136
@kamishettysreeja25 Do you own the domain engel.com? Of course this should not work. I suggest you think this through yourself.

[2016-06-29 14:34] sreejakshetty commented on #143
created new table Welcome_Message and updated all the files.
https://github.com/fossasia/engelsystem/commit/a1641f834fa644f688f2f08c8d7cb4e7a02a2270
https://github.com/fossasia/engelsystem/commit/53b62ada2581f71ecafd546aabf0aae641310e96
https://github.com/fossasia/engelsystem/commit/3a070ddf139a0bb301b93d7f9aa8c91de46bae04
This issue is completed.

[2016-06-29 14:47] sreejakshetty commented on #136
I don't own the domain name. https://devcenter.heroku.com/articles/custom-domains I understood the reason.
Thank you

[2016-06-30 04:32] DishantK1807 commented on #141
nitpick-ci is successfully integrated into the repository. It'll now automatically check for PSR-2 coding style. Refer to the PSR-2 coding style here, [http://www.php-fig.org/psr/psr-2/](url)

I am currently working on integrating codacy for this repository.

[2016-06-30 04:53] sreejakshetty commented on #136
changed the heroku domain name successfully
**new link** : http://engelsystem-foss.herokuapp.com/

[2016-06-30 06:11] DishantK1807 commented on #141
Integrated Codacy, with main branch as development. Added badges to the `readme.md` file.
https://github.com/fossasia/engelsystem/commit/d8f1711fd69d51e669d427f49072047b70404cf6

[2016-06-30 16:02] sreejakshetty commented on #136
Documentation for deploying php and mysql app on heroku.
https://codelifefungsoc16.wordpress.com/2016/06/30/deploying-php-and-mysql-app-on-heroku/

[2016-07-01 04:22] sreejakshetty commented on #20
![imageedit_2_5252465184](https://cloud.githubusercontent.com/assets/14835922/16511735/0c5b7ed6-3f71-11e6-81f8-b656c96fc683.png)
Presently, I have implemented the import function for user data in All Angels page.
Is this view fine or should I make a new admin page for this?

[2016-07-01 04:54] hongquan commented on #136
@kamishettysreeja25 Duplicate of `require` key in _composer.json_:

[code]

[2016-07-01 05:11] DishantK1807 commented on #141
Integrated Circle-CI, with the repository. Added badge to the `readme.md` file.
Commits:
- https://github.com/fossasia/engelsystem/commit/1fce5f28ac53ad06377a9c366c397bf3fd89ea21
- https://github.com/fossasia/engelsystem/commit/d4e39950ea15371a0addd6759f56e038e2b5c322

[2016-07-01 06:03] sreejakshetty commented on #136
@hongquan I have updated the composer.json file. Removed the duplicate require key.
https://github.com/fossasia/engelsystem/commit/59c15c38d2f0a476e3e80bbadee5ac0484ee674d
Thank you.

[2016-07-01 06:48] sreejakshetty commented on #20
@mariobehling @hpdang
![screenshot from 2016-07-01 12 15 40](https://cloud.githubusercontent.com/assets/14835922/16513850/903c8a10-3f85-11e6-808f-dd214a099491.png)
Presently there are 38 rows in the User table. Will the imported file contain the same number of fields or only the required fields. For validation should I validate all the fields?

[2016-07-01 06:51] DishantK1807 commented on #20
@kamishettysreeja25: #19, these are same issues. Are you working on this now?

[2016-07-01 16:29] sreejakshetty commented on #143
@msquare
Even after adding an entry in the privileges table.
global `$privilege` gives me same output. So I am unable to add any pages or check access of users. How can I modify `global $privilege`
`Array ( [0] => admin_groups [1] => admin_language [2] => admin_import [3] => register [4] => admin_rooms [5] => admin_angel_types [6] => admin_questions [7] => admin_faq [8] => admin_news [9] => admin_

[2016-07-02 04:38] sreejakshetty commented on #145
@mariobehling @msquare
This is the screenshot of the new `Settings page`
![screenshot from 2016-07-02 10 07 30](https://cloud.githubusercontent.com/assets/14835922/16538264/fee81b84-403c-11e6-8cf3-1763dd4a8547.png)
The page is added under the `admin menu`.

[2016-07-02 05:28] DishantK1807 opened #147 "Feature Request: Update the registration form."
- [x] Add single select dropdown for native language field.

- [x] Add multi select dropdown for other languages field.

- [x] Mark Native language is required.

[2016-07-02 05:35] DishantK1807 commented on #147
- https://github.com/fossasia/engelsystem/pull/146/commits/ed48e69fec523412ca4099377c31d262dad09359
- https://github.com/fossasia/engelsystem/commit/d4af52fcd7f44b7703833059a657457f8fc468af
- https://github.com/fossasia/engelsystem/commit/0117953631910d5686041b2c5e700775b2ef6107
  ![capture](https://cloud.githubusercontent.com/assets/7828295/16538517/68a6b4ca-4044-11e6-8330-9cd7f9fd0c24.PNG)

[2016-07-02 06:00] sreejakshetty commented on #145
https://github.com/fossasia/engelsystem/commit/ae31ce98ed24868715a74634d85ce4b5793c5faf
https://github.com/fossasia/engelsystem/commit/c7d9203691c88bfd8f91064b5cd714630d4be118
https://github.com/fossasia/engelsystem/commit/5e03a7f2748ee63a2320255422fe8664d0cf5a1b
This issue is fixed.

[2016-07-02 10:18] sreejakshetty commented on #20
#19 same issue. This issue can be closed.

[2016-07-02 17:38] DishantK1807 opened #148 "Reconfiguring reCaptcha"
- [x] Removing keys from the repository

- [x] Adding the keys to the config.php

[2016-07-03 10:25] DishantK1807 opened #149 "Display Native and other language on User's Page"
Parent issue: #102

[2016-07-03 10:32] DishantK1807 commented on #149
- https://github.com/fossasia/engelsystem/commit/7b2557930d91ab9854a5992a12d4e8cf7f436b23.
- https://github.com/fossasia/engelsystem/commit/2578af0bbfb895d05815284d38a6aec55e374fae

[2016-07-03 10:39] DishantK1807 commented on #149
![capture](https://cloud.githubusercontent.com/assets/7828295/16544985/686a8b54-4138-11e6-936d-fb4bbc69f2fc.PNG)
Displayed Native and other languages in the User's Page.
This issue can be closed.

[2016-07-04 06:58] #23 closed

[2016-07-04 07:24] mariobehling commented on #19
As this is a duplicate, I am closing this.

[2016-07-04 07:24] #19 closed

[2016-07-04 07:37] mariobehling commented on #141
Any progress with?
- https://codecov.io
- https://coveralls.io
- https://gemnasium.com

[2016-07-04 08:18] mariobehling commented on #136
Deployed here http://volunteersys.herokuapp.com

[2016-07-04 08:21] #135 closed

[2016-07-04 08:23] #147 closed

[2016-07-04 08:34] mariobehling commented on #90
Why is this issue necessary? Please cross-reference issues.

[2016-07-04 08:50] DishantK1807 commented on #103
https://github.com/fossasia/engelsystem/commit/281f1080c48938ae85320f17e4a2c61ab9aaf364

This issue can be closed.

[2016-07-04 08:59] #103 closed

[2016-07-04 09:11] #149 closed

[2016-07-05 04:24] DishantK1807 commented on #148
- https://github.com/fossasia/engelsystem/commit/cf4e2f2b1939f5670c17f2b86ba063df82ba2732
- https://github.com/fossasia/engelsystem/commit/a5379e249e9f79a08318dbf842b6f256bca843e9
- https://github.com/fossasia/engelsystem/commit/b4ccfab133cd4cfe3bfd322dbe7bb43d91f0e8e8
- https://github.com/fossasia/engelsystem/commit/35e715d0192a325c6cf93bdb4cb87411eb9c57ab

#142
Tested on local and online server.

[2016-07-05 06:03] sreejakshetty commented on #70
https://github.com/fossasia/engelsystem/commit/7774886978b750cd64d5bff36ee0be607394b443
https://github.com/fossasia/engelsystem/commit/614b785a224e1501bf677d5fb7b1902980e5da08
This issue can be closed.
tested on local and online server.

[2016-07-05 06:05] sreejakshetty commented on #145
https://github.com/fossasia/engelsystem/commit/a80d75cc6f9a69f3ea7913c1bdc7f912b222ce8d
fixed indentation and codacy issues.

[2016-07-05 08:28] msquare commented on #143
Did you assign the new privilege to a group? This can be done via admin menu "group rights".

[2016-07-05 09:06] DishantK1807 commented on #142
#148 , Removed keys from the repository and defined them in config.php

[2016-07-05 09:39] sreejakshetty commented on #143
@msquare I have assigned it. Fixed the issue.
Thank you

[2016-07-06 03:19] DishantK1807 opened #150 "Feature: Enable and disable reCaptcha"
- [x] Add flag to enable and disable reCaptcha.

- [x] Include the reCaptch API.

[2016-07-06 03:37] DishantK1807 commented on #150
- https://github.com/fossasia/engelsystem/commit/ed96c2d68c6d106759e5bf381f9b301793f3fb03
- https://github.com/fossasia/engelsystem/commit/4394b333219dcd86c803b08546b9887af3e03f2f
- https://github.com/fossasia/engelsystem/commit/e706d2be714bb200be77d47b1f231f996d70f05d
- https://github.com/fossasia/engelsystem/commit/66443a0368d7126f075dd476b751c6255726da19
- https://github.com/fossasia/engelsyste

[2016-07-06 03:38] DishantK1807 commented on #142
#150
This issue is resolved now and can be closed.

[2016-07-06 04:44] TwixtedChaox opened #151 "Import System"
We need a working Import system.
Functionality should include:

- The ability to import csv and xls files.
- Data contained should be imported to the database.
- During the import process we need to check for a unique identifier and skip (or update) duplicates. [Unique Identifier: nickname]

[2016-07-06 04:49] #151 closed

[2016-07-06 18:10] DishantK1807 commented on #102
This issue is completed and can be closed.

[2016-07-06 18:10] #102 closed

[2016-07-06 18:13] DishantK1807 commented on #104
- https://github.com/fossasia/engelsystem/pull/152/commits/ed48e69fec523412ca4099377c31d262dad09359

![capture](https://cloud.githubusercontent.com/assets/7828295/16629476/6d1262e2-43d3-11e6-9e39-d79ee969efda.PNG)

This issue can be closed.

[2016-07-06 18:13] #104 closed

[2016-07-07 03:57] DishantK1807 opened #153 "Create new page for import/export user data"
Parent issue: #144

[2016-07-07 04:00] DishantK1807 opened #154 "Restore Frab import to original state"
Parent issue: #144

[2016-07-07 04:01] DishantK1807 commented on #154
- https://github.com/fossasia/engelsystem/commit/4db2115b028843d4ce8809ecfb40e552f1071fd5

![capture](https://cloud.githubusercontent.com/assets/7828295/16642158/92202e46-4425-11e6-9ef3-6270c6ab55c4.PNG)

This issue can be closed.

[2016-07-07 04:03] DishantK1807 commented on #153
- https://github.com/fossasia/engelsystem/commit/c8831d9aa4af2e0e84f4e80df3ca7bb730688d01
- https://github.com/fossasia/engelsystem/commit/5a662cb7d68a3e4b29a3756cc44aaf1ba2918752
- https://github.com/fossasia/engelsystem/commit/19414ccacc6f848077aa105ec60d9ee5c395796f
- https://github.com/fossasia/engelsystem/commit/040b6ad295674738b72f31f9df3cf70a5785c812
- https://github.com/fossasia/engelsyste

[2016-07-07 06:18] sreejakshetty commented on #20
**Import user data view**. Admin needs to upload the file
![screenshot from 2016-07-07 11 42 09](https://cloud.githubusercontent.com/assets/14835922/16644143/477cc8a0-4438-11e6-8edb-6d6a30091512.png)
When there is no error in the database. **success message** is shown.
![screenshot from 2016-07-07 11 44 55](https://cloud.githubusercontent.com/assets/14835922/16644141/4286e56a-4438-11e6-8032-2f8719

[2016-07-07 08:28] vuhung commented on #141
I want to see how bad we are at coverage the code with reports from https://codecov.io/ :)

[2016-07-07 09:51] #154 closed

[2016-07-07 09:51] #153 closed

[2016-07-07 09:51] #150 closed

[2016-07-07 09:51] #148 closed

[2016-07-07 09:52] #142 closed

[2016-07-07 10:17] DishantK1807 commented on #144
Current status:
- Restored the Frab Import page to original status.
- Created a new page for Import and export of user data.

Next
- Remove password hashes from the exported database

[2016-07-07 11:16] #145 closed

[2016-07-07 11:17] #143 closed

[2016-07-07 11:20] #70 closed

[2016-07-07 11:20] #20 closed

[2016-07-07 11:24] #61 closed

[2016-07-08 03:08] DishantK1807 opened #155 "Remove Password hashes from the user db export"
Parent issue: #144

[2016-07-08 03:09] DishantK1807 commented on #155
Fixed here:
- https://github.com/fossasia/engelsystem/commit/e03d3fe8c9fb2e76f86d5af31abd045faf84a363

This issue can be closed.

[2016-07-08 03:10] DishantK1807 commented on #144
Update status:
- Removed password hashes from the user export.

This issue is resolved and can be closed.

[2016-07-08 03:20] DishantK1807 commented on #155
![capture](https://cloud.githubusercontent.com/assets/7828295/16676552/ecc792ee-44e8-11e6-9e60-fff0773db665.PNG)

No passwords in the export.

[2016-07-09 04:41] DishantK1807 commented on #89
- https://github.com/fossasia/engelsystem/commit/a3a5f8c3df95fafeb0b0617cee489564e1c74e05
- https://github.com/fossasia/engelsystem/commit/b42e62a09c4d71fb3ebb2d78e065fdfc768ac733

![capture](https://cloud.githubusercontent.com/assets/7828295/16706114/6a2f8578-45bd-11e6-9418-22cfeb5b6c71.PNG)

This issue can be closed.

[2016-07-09 08:23] #155 closed

[2016-07-09 08:24] #144 closed

[2016-07-09 08:24] #89 closed

[2016-07-09 08:31] DishantK1807 commented on #141
Integrated Code Climate to the PR's.

![capture](https://cloud.githubusercontent.com/assets/7828295/16706969/a3e2c120-45dd-11e6-96cf-c0214cb6556d.PNG)

[2016-07-11 05:09] sreejakshetty commented on #137
Used **Phinx** to implement database migrations.
Implemented database migration for all the changes in **update.sql**  https://github.com/fossasia/engelsystem/commit/212cfb44fa262d9e31c9b6e41ebef93f153c841b
Added documentation to how to migrate the database https://github.com/fossasia/engelsystem/blob/development/db/migrations_documentation.md
![screenshot from 2016-07-11 10 32 17](https://cloud.g

[2016-07-11 07:21] kamishettysreeja25 opened #156 "Improve documentation"
* [x] create docs folder in the root directory and move all the documentation.
* [x] Create a Readme for HEROKU
* [x] Create a Readme for INSTALLATION_DOCKER

[2016-07-11 14:58] kamishettysreeja25 opened #158 "Improving code quality: Fix circle ci and codacy issues"
Circle ci Issue is due to different php versions in lock file.
![screenshot from 2016-07-11 20 23 52](https://cloud.githubusercontent.com/assets/14835922/16735096/73b33786-47a5-11e6-89f8-95c430e52426.png)
codacy issues:
**guest_login.php**
Issue found:
white space found at end of line at different line
**admin_import**
Issues found:
 export_xls accesses the super-global variable $_SERVER.
The func

[2016-07-11 15:37] DishantK1807 commented on #158
@sreeja: the fuction `export_xls()` no more exists in the updated code

[2016-07-11 15:52] sreejakshetty commented on #158
@DishantK1807 okay. We need to fix the circle ci error first. The build will fail till we fix circle-ci

[2016-07-11 15:59] DishantK1807 commented on #158
@sreeja: the php version in `circle.yml` is 5.4.5, We should set the php version in `composer.lock` `>=5.4.5` for all the require parameters

[2016-07-11 16:01] DishantK1807 commented on #158
for the errors reported by codacy and circle-ci, I'll remove whitespaces from all the files, and you check which PHP version is most suitable for the require parameters, for the database migrations.

[2016-07-11 16:09] sreejakshetty commented on #158
so we need to update composer.lock right or change circle.yml ?

[2016-07-11 16:10] DishantK1807 commented on #158
`composer.lock`,  there are different values of PHP version in `composer.lock` file some are below 5.4

[2016-07-11 16:14] DishantK1807 commented on #158
@sreeja:

from the Phinx documents

[2016-07-11 16:19] sreejakshetty commented on #158
@DishantK1807 We can remove the composer.lock files and vendor files. Those files are installed when we run composer update. Now the circle-ci has passed when I changed the php version in composer.lock

[2016-07-11 16:19] DishantK1807 opened #159 "Improving Code quality: Removing whitespaces, translating comments and soving CI issues"
- [x] Removing white spaces from all the files

- ~~Translating comments from German to English~~ This doesnt have priority right now. (Mario)

- [x] Solving errors report by Circle-CI and Codacy

- [x] Fixing code climate issues

[2016-07-11 16:19] sreejakshetty commented on #158
Fixed circle-ci issue. All the tests are fixed.

[2016-07-11 16:20] DishantK1807 commented on #159
Whitespaces removed and translated comments in all the files in `pages` folder,
Coday error reduced from 854 to 786

[2016-07-11 16:21] sreejakshetty commented on #159
Please we will make lesser number of commits and not pollute github. msquare will find it difficult to review all the commits.

[2016-07-11 16:21] DishantK1807 commented on #158
@sreeja: I guess that `composer.lock` file is required when deploying on heroku.

[2016-07-11 16:22] sreejakshetty commented on #159
Fixed circle-ci issue. Now only codacy errors have to be fixed.

[2016-07-11 16:25] sreejakshetty commented on #158
@DishantK1807 Yes, but it is not necessary in the github repo. while we are deploying on heroku we need to run `composer update` . This will automatically generate the composer.lock file.
I will remove composer.lock and other vendor files to reduce the size of the repo

[2016-07-11 16:33] DishantK1807 commented on #159
Whitespaces removed from the controller files,
Codacy errors removed from 786 to 754

[2016-07-11 16:55] sreejakshetty commented on #159
@DishantK1807
There are 754 issues.
Info: 392
Warnings: 362
We both can divide the issues and fix the issue fast.
Thank you

[2016-07-11 16:57] DishantK1807 commented on #159
@kamishettysreeja25: Yes, we can divide them.
Currently I'm working on removing whitespaces from all the files. I am done with controller, helper and Pages. You can work on other issues on the files in the mentioned folder so that there is no conflicts.

[2016-07-11 16:59] DishantK1807 commented on #159
Whitespaces removed from the helper files,
Codacy errors removed from 754 to 747

[2016-07-11 16:59] sreejakshetty commented on #159
@DishantK1807 Sure.

[2016-07-11 17:01] sreejakshetty commented on #159
I am working on all the view files.

[2016-07-11 17:03] DishantK1807 commented on #158
@sreeja: We can close this, if this issue is complete.

[2016-07-11 17:04] #158 closed

[2016-07-11 17:04] DishantK1807 commented on #159
Whitespaces removed from the Model files,
Codacy errors removed from 747 to 688

[2016-07-11 17:17] DishantK1807 commented on #159
Whitespaces removed and translated comments in the System files,
Codacy errors removed from 688 to 589

[2016-07-12 01:33] sreejakshetty commented on #159
Resolved codacy issues
Codacy errors removed from 594 to 578

[2016-07-12 06:34] sreejakshetty commented on #159
https://codeclimate.com/github/fossasia/engelsystem/pull/160
Code climate issues
Currently there are 924 issues reported.

[2016-07-12 06:43] DishantK1807 commented on #159
@kamishettysreeja25: That's only for the current PR #160. We have a total of 4,294 issues.
I've added a code climate issue badge to the `readme.md` file.

[2016-07-12 07:31] hpdang commented on #156
Ok, I have seen you already work on it. I have re-organized the readme file and linked the installation instructions from the main file. I also took out the Features info. That can go into the main Readme.md.

@kamishettysreeja25 I have copied the installation info from the main page temporarily into the beginning of https://github.com/fossasia/engelsystem/blob/development/docs/INSTALLATION_SERVER

[2016-07-12 08:12] sreejakshetty commented on #156
@hpdang Sure. Thank you.
I will work on docker installation and create Readme for Heroku.

[2016-07-12 08:20] DishantK1807 commented on #159
Resolved codacy issues
Codacy errors reduced from 578 to 492
https://www.codacy.com/app/dishant-khanna1807/engelsystem_2/dashboard?bid=3396823

[2016-07-12 09:29] hpdang opened #161 "Implement an installation flow similar to wordpress"
The installation could be simplified and Wordpress shows how it can be done. Please implement an installation flow like at https://codex.wordpress.org/Installing_WordPress#Famous_5-Minute_Install including the following:
* [x] Change engelsystem/config/config.default.php to engelsystem/config/config-sample.default.php
* [x] Keep the config-sample database info empty
* [x] Installation script where

[2016-07-12 10:10] mariobehling opened #162 "Implement an upgrade process for Engelsystem similar to Wordpress"
Please research and propose the upgrade process of Wordpress. Then:
* [ ] Implement it for Engelsystem in a similar way
* [ ] Give the option in the UI to upgrade
* [ ] Show an icon "update" if updates are available
* [ ] in settings give the option "deactivate updates" and "automatic updates"
* [ ] Write code tests
* [ ] Write a blog post about how Wordpress upgrades work and how you implemented

[2016-07-12 10:10] mariobehling commented on #137
Good job. Nest issue to follow up on this is here: https://github.com/fossasia/engelsystem/issues/162

[2016-07-12 10:11] #137 closed

[2016-07-12 10:18] mariobehling commented on #134
@DishantK1807 Let's postpone this to a later milestone and get the installation/upgrade/testing issues working first.

[2016-07-12 10:20] mariobehling commented on #52
Thanks a lot. This is sufficient for the moment. We need system features now.

[2016-07-12 10:20] #52 closed

[2016-07-12 10:35] mariobehling opened #163 "Implement MVC model"
Due to the process the application was developed there is no clear MVC model.
* [x] Please propose a way to change all components and code structure to a clean Model View Controller model (MVC).
* [x] Create a list of issues here (in this parent issue) and link them.
* [x] Get other contributors around you to take on issues
* [x] Document all changes in a blog post.

[2016-07-12 16:16] sreejakshetty commented on #156
Added Heroku documentation
https://github.com/fossasia/engelsystem/blob/development/docs/HEROKU.md

[2016-07-13 02:36] hongquan commented on #163
Current condition:
- The code base seems to be structured in MVC. There are folders: _model_, _view_, _controller_, _pages_.
- Code in _pages_ seems to be a mix of model and controller. By reading _public/index.php_, you can see that functions in _pages_ act as controller. But it has SQL queries inside, which should be placed in model.

So I think what we have to do is to redo the _pages_ code.

[2016-07-13 03:25] vuhung commented on #163
MVC is a standard 3-tier architecture.
By adding a new tier "page", I think there must be some intention for doing that. We should ask the creator before making change to the architecture.

[2016-07-13 07:14] DishantK1807 commented on #159
Resolved codacy issues
Codacy errors reduced from 578 to 428
https://www.codacy.com/app/dishant-khanna1807/engelsystem_2/dashboard?bid=3396823

[2016-07-13 16:57] DishantK1807 commented on #159
Codacy issues resolved.
Will start looking into code climate issues

[2016-07-14 05:49] mariobehling commented on #163
@vuhung The origin of Engelsystem is long ago and @msquare has already started to implement MVC. So, he would be happy if this is implemented as it would make life easier for everyone.

@kamishettysreeja25 Please outline your ideas and what you plan to do before you start.

[2016-07-14 05:54] sreejakshetty commented on #163
@mariobehling  I will propose a plan and outline a way to change all components and code structure to a clean Model View Controller model by today.

[2016-07-14 06:56] mariobehling opened #165 "Get FOSSASIA development merged to Engelsystem Master"
we make a single branch in our repository name 'Engelsystem-features' we can push features one by one to this branch and get it merge to the engelsystem/engelsystem. After it gets merged we can update the file which contains features list so that we can keep a track what features are merged to the engelsystem/engelsystem.  Once the PR merged, we can commit the next feature to the same branch and m

[2016-07-14 07:00] DishantK1807 commented on #165
Branch created: `engelsystem-features`

[2016-07-14 08:33] sreejakshetty commented on #165
Made engelsystem-features even with engelsystem:master and created a PR to engelsystem/engelsystem and pushed Admin settings feature.

[2016-07-14 18:47] DishantK1807 opened #167 "Merging features to engelsystem/engelsystem"
We need to keep in mind to push the latest and final change while pushing to the engelsystem. There are many features that were implemented initially and then improved. We need to create modules of each. Example as in the registration form:

- I updated some fields
- Then you updated some fields
- You changed positions
- I changed some fields
- I added reCaptcha
- You changed the background

So th

[2016-07-14 18:59] mariobehling commented on #167
This is too complicated to review as there were so many small steps and they would be confusing. Making the changes into "modules" sounds best.

[2016-07-15 03:11] hongquan commented on #167
How do you do "We'll need to make modules"?

[2016-07-15 03:18] DishantK1807 commented on #167
@hongquan: cc: @mariobehling: That is the problem, "making it into modules". There are overlapping features, example, changing the position/layout of fields in registration form comes in both, registration fields as well as UI/UX. If we add it to the UI/UX module, other features will be difficult to commit to the registration form. We would require making the changes again, step by step.

Also if

[2016-07-15 03:27] DishantK1807 commented on #159
Reviewed all the code climate issue. Code climate issues are generally due to:
- Request to super global variable
- Camel case
- Whitespaces(fixed)
- length of variable name(fixed)
- Using unused variables (fixed)

This issue can be closed.

[2016-07-15 03:41] DishantK1807 commented on #162
Research on documentation of wordpress on implementing update procedure. Wordpress is a CMS and it uses it's own CMS framework for pushing the updates to every server. It pushes updates using SVN and got the steps of wordpress installation through SVN here, https://make.wordpress.org/core/handbook/tutorials/installing-wordpress-locally/from-svn/

Wrodpress uses it's own CMS framework to push auto

[2016-07-15 03:59] hongquan commented on #167
I don't understand what is your "module" in this context. Why

I only figure out that if many people make change in the same file, there will happens conflict when committing to git.

Example, there is line:

[code]

Person A change it to

[code]

Person B, at the same time, change to

[code]

But person A commits first. Then person B commits. Conflict will occurs with person B, because Git (on B

[2016-07-15 04:19] DishantK1807 commented on #167
@hongquan: That's not what I meant to say. Here is one case:
- At the beginning, I added some more fields in the registration form. (Feature 1)
- Then Sreeja made some change to UI/UX of the registration form. (Feature 2)
- Then I added some more fields to it. (Feature 3)
- Sreeja changed the background to white. (Feature 4)

Now they are all different features, if we merge them individually, it w

[2016-07-15 04:30] vuhung commented on #167
The only and the best git flow I follow until now is this: http://nvie.com/posts/a-successful-git-branching-model/

First, branching by git issues (feature-xxx, hotfix-xxx,
then develop,
release-xxx,
and master

The issues on the way we work with @DishantK1807 mention can be improved with CI, that means, integrate (PR) as often as we can.

Code review is another Agile practice in my Agile toolset

[2016-07-15 06:40] hongquan commented on #167
Can you remind me you merge from where to where?

[2016-07-15 06:52] DishantK1807 commented on #167
@hongquan: From this repo to the engelsystem/engelsystem

[2016-07-15 07:22] vuhung commented on #159
How about reviewing code by looking at the "code smells"?

[2016-07-15 07:25] mariobehling commented on #167
There is no perfect way to merge the changes to Engelsystem. The contribution history is too diverse. We need to do it the slow way. Just merge it step by step.

@DishantK1807 As discussed yesterday please proceed. Let's see if we can get one merge of one feature for the beginning.

@hongquan Could you please close this PR: https://github.com/engelsystem/engelsystem/pull/262

[2016-07-15 07:27] mariobehling commented on #167
This issue is also a duplicate of https://github.com/fossasia/engelsystem/issues/165

Closing it.

[2016-07-15 07:27] #167 closed

[2016-07-15 07:39] mariobehling commented on #159
Thanks.

[2016-07-15 07:39] #159 closed

[2016-07-15 07:49] mariobehling commented on #162
@DishantK1807 This is related to https://github.com/fossasia/engelsystem/issues/163 So, we can define our framework through this model.

[2016-07-15 07:50] mariobehling commented on #162
We do not need version numbers. It is possible to make releases though.

[2016-07-15 08:15] sreejakshetty commented on #163
Presently there are 26 pages. we need to create controller files for all of them. For the pages which access SQL query we need to separate them into model files. There are only model files for a few pages. We should also add view to render the html or forms for some of the pages.
**Pages**

[code]

**Model**

[code]

**Controller**

[code]

**view**

[code]

For Example, We are having `admin_shift

[2016-07-15 08:46] vuhung commented on #163
A big refactoring! Great summary!

[2016-07-15 14:45] sreejakshetty commented on #156
Added docker installation and added dockerfile
https://github.com/fossasia/engelsystem/blob/development/docs/INSTALLATION_DOCKER.md
https://github.com/fossasia/engelsystem/blob/development/Dockerfile

[2016-07-16 03:29] sreejakshetty commented on #163
This is a big issue. I will create smaller issues. There are 26 pages. I would like to even reduce the NP complexity by re factoring the code into smaller functions. Each  will consists of modifying 3 pages and making them MVC structured.

[2016-07-16 03:33] kamishettysreeja25 opened #168 "Implement MVC for admin active, arrive and export pages"
Parent Issue #163
* [x] admin_active.php
* [x] admin_arrive.php
* [x] admin_export.php

Create controller and model files.

[2016-07-16 03:35] kamishettysreeja25 opened #169 "Implement MVC for admin free, groups and import pages"
Parent Issue #163
* [x] admin_free.php
* [x] admin_groups.php
* [x] admin_import.php

Create controller and model files .

[2016-07-16 03:37] kamishettysreeja25 opened #170 "Implement MVC for admin log, news and questions pages"
Parent Issue #163

* [x] admin_log.php
* [x] admin_news.php
* [x] admin_questions.php

Create controller and model files .

[2016-07-16 03:39] kamishettysreeja25 opened #171 "Implement MVC for admin rooms, settings, shifts pages"
Parent Issue #163
* [x] admin_rooms.php
* [x] admin_settings.php
* [x] admin_shifts.php

Create controller and model files .

[2016-07-16 03:41] kamishettysreeja25 opened #172 "Implement MVC for admin free, guest credits and login pages"
Parent Issue #163
* [x] admin_user.php
* [x] guest_credits.php
* [x] guest_login.php

Create controller and model files .

[2016-07-16 03:43] kamishettysreeja25 opened #173 "Implement MVC for guest start, stats and user atom pages"
Parent Issue #163
* [x] guest_start.php
* [x] guest_stats.php
* [x] user_atom.php

Create controller and view files .

[2016-07-16 03:44] kamishettysreeja25 opened #174 "Implement MVC for user ical, messages, myshifts pages"
Parent Issue #163
* [x] user_ical.php
* [x] user_messages.php
* [x] user_myshifts.php

Create controller and view files .

[2016-07-16 03:47] DishantK1807 commented on #162
Yes we can do it throught releases.

I've got different scripts and methods that we could use to implement upgrade process:
- http://maxmorgandesign.com/simple_php_auto_update_system/
- http://code.tutsplus.com/tutorials/distributing-your-plugins-in-github-with-automatic-updates--wp-34817
- http://code.tutsplus.com/tutorials/a-guide-to-the-wordpress-http-api-automatic-plugin-updates--wp-25181
- ht

[2016-07-16 03:49] kamishettysreeja25 opened #175 "Implement MVC for user news, questions, settings and shifts pages"
Parent Issue #163
* [x] user_news.php
* [x] user_questions.php
* [x] user_settings.php
* [ ]  user_shifts.php

Create controller and view files .

[2016-07-16 03:53] DishantK1807 commented on #162
We now have a more members in the team, we can complete issues #163 and #161 faster and implement this feature. I'll work with @kamishettysreeja25 to complete the issues faster, by dividing the tasks.

[2016-07-16 04:03] DishantK1807 commented on #169
Will be working on this today.

[2016-07-18 01:31] #156 closed

[2016-07-18 04:33] sreejakshetty commented on #163
Deleted all the admin pages and created admin controller pages. Updates install.sql, update.sql, engelsystem_provider.php, sys_menu.php.
https://github.com/fossasia/engelsystem/issues/168
https://github.com/fossasia/engelsystem/issues/169
https://github.com/fossasia/engelsystem/issues/170
https://github.com/fossasia/engelsystem/issues/171
https://github.com/fossasia/engelsystem/issues/172
Commits:

[2016-07-18 09:49] mariobehling commented on #163
Where is the pull request? Who reviewed this?

[2016-07-21 09:49] mariobehling opened #183 "Correct hardcoded links/references in localization"
The references are hardcoded in the [localization](https://github.com/fossasia/engelsystem/tree/master/locale) and they should not be.

e.g. /var/www/html/engelsystem/includes/sys_menu.php:63 (https://github.com/fossasia/engelsystem/blob/master/locale/en_GB.UTF-8/LC_MESSAGES/default.po) or in the German po /Users/msquare/workspace/projects/engelsystem/includes/sys_menu.php:49
msgid

Please ensure

[2016-07-21 09:50] mariobehling commented on #173
Thanks.

[2016-07-21 09:50] #173 closed

[2016-07-21 10:08] DishantK1807 commented on #183
Will fix this.

[2016-07-21 13:54] sreejakshetty commented on #168
Fixed here #178

[2016-07-21 13:54] #168 closed

[2016-07-21 13:54] sreejakshetty commented on #169
Fixed here #178

[2016-07-21 13:54] #169 closed

[2016-07-21 13:55] sreejakshetty commented on #170
Fixed here #178

[2016-07-21 13:55] #170 closed

[2016-07-22 03:56] DishantK1807 commented on #174
#184 Fixed here

[2016-07-22 17:48] DishantK1807 commented on #174
PR merged. This issue can be closed.

[2016-07-22 17:48] #174 closed

[2016-07-23 03:57] DishantK1807 opened #186 "Implement MVC for user_shifts"
Parent issue: #175

[2016-07-23 05:48] DishantK1807 commented on #175
Fixed here #187

[2016-07-23 08:13] DishantK1807 commented on #165
https://github.com/engelsystem/engelsystem/pull/264

[2016-07-23 09:36] mariobehling commented on #141
Quote from @hongquan from elsewhere

Any progress on this?

[2016-07-25 04:02] DishantK1807 opened #190 "Implementing MVC for the existing controller files"
There are some already created controller files that contains sql queries in them.

- [x] user_controller.php

- [x] shifts_controller.php

- [x] admin_user_controller.php

[2016-07-25 04:05] DishantK1807 commented on #190
#163

[2016-07-25 04:45] mariobehling commented on #183
Actually these links are just comments. They are coming from translating applications. So, disregard and continue with something else, please. Closing it.

[2016-07-25 04:45] #183 closed

[2016-07-25 05:04] sreejakshetty commented on #172
Fixed here #185

[2016-07-25 05:04] #172 closed

[2016-07-25 05:05] sreejakshetty commented on #171
Fixed here #185

[2016-07-25 05:05] #171 closed

[2016-07-25 06:30] DishantK1807 opened #191 "Writing test for Travis-CI"
We need to set up Travis to run tests for our system. We need to write test codes for model and view, that  Travis will run, and script that will allow travis to set up database and run other commands for tests

- [x] Writing test for model files

- [x] Writing script to set-up database and run tests

- [x] Updating the `.travis.yml` file

[2016-07-26 07:26] vuhung commented on #191
What kind of script do you plan to write?
I thought it is some kind of database migration scirpts.

[2016-07-26 08:57] sreejakshetty commented on #191
@vuhung All the installation instructions can be written in bash script.

[2016-07-27 03:10] DishantK1807 opened #193 "Writing tests for Model files"
Parent issue: #191

Will be writing tests for each model files. Dividing this issue into smaller ones.

[2016-07-27 03:12] DishantK1807 opened #194 "Write test codes for ShiftType, Shift models"
Writing unit tests for:

- [x] ShiftType_Model

- [x] Shifts_Model

#193

[2016-07-27 03:34] sreejakshetty commented on #193
@DishantK1807 Can we postpone this issue. I would like to work on re-factoring model files. There are many functions created with same functionality. After Re-factoring you and I can divide the work and complete.

[2016-07-27 03:35] DishantK1807 opened #195 "Test codes for NeededAngelType, Room, Angeltype Models"
Write test codes for:

- [x] NeededAngelType_model

- [x] Room_model

- [x] Angeltype_Model

#193

[2016-07-27 03:42] DishantK1807 commented on #193
@kamishettysreeja25: The test codes will mostly check create, delete and return(count). Other functions might be multiple and you can work on refactoring, I am currently working on the already existing model files. Else if the refactoring is large, create issues for multiple files and we can work on refactoring fast.

[2016-07-27 03:43] sreejakshetty commented on #195
@DishantK1807 Please let me re factor model files first. we can work on creating tests later.

[2016-07-27 03:46] sreejakshetty commented on #193
@DishantK1807 Its better to refactor the model files decrease unused and duplicate functions first and then write tests. Already existing files also need a re-factoring we have created duplicate functions. we need to resolve it first. We can delete already existing model files and move the functions into other model files.

[2016-07-27 03:51] DishantK1807 commented on #193
@kamishettysreeja25: Okay. I'll postpone it. Create issues for refactoring and we can work on it fast.

[2016-07-27 03:53] kamishettysreeja25 opened #196 "Refactoring Model files"
**Problem:** There are many duplicate functions. we need to re factor them and delete unused functions.

[2016-07-27 12:06] DishantK1807 commented on #22
This problem is because, When we approve someone for a group, there are certain admin privileges that are provided to that group, due to which the user is allowed to sign up for the restricted shifts on its own. There is 2 fixes to this bug:
- Not allowing any user for the group and use only angeltypes to allow a user to sign up for restricted shifts.
- Second is allowing admin to create new group

[2016-07-27 16:42] sreejakshetty commented on #175
Fixed here #192

[2016-07-27 16:42] #175 closed

[2016-07-27 18:55] DishantK1807 opened #199 "Feature: create new Create Groups page"
Parent issue: #22

[2016-07-27 18:58] DishantK1807 commented on #199
Fixed here: #200

[2016-07-27 19:01] DishantK1807 commented on #22
#200

[2016-07-28 03:03] DishantK1807 opened #201 "Feature: Allow Providing GroupPrivileges while creating new groups"
Allow Providing in the GroupPrivileges while creating a new Group and setting some default values for Engel user.

Current system: Only new group is created with name and UID. Admin has to go to GroupRights page for setting up GroupPrivileges

![screenshot from 2016-07-28 00_08_36](https://cloud.githubusercontent.com/assets/7828295/17199823/91c9c334-549d-11e6-9a5d-cadf2a854772.png)

Proposed: Prov

[2016-07-28 14:33] DishantK1807 commented on #190
Fixed here: #202

[2016-07-28 15:26] sreejakshetty commented on #190
@DishantK1807 There are no sql queries in `admin_user_controller.php`. Why it is included in this issue?

[2016-07-28 15:29] DishantK1807 commented on #190
@kamishettysreeja25: Now there are not, but earlier there were. When I created the issue. Check your previous PR. You might have forgotten to include it.

[2016-07-28 18:54] DishantK1807 commented on #201
Added checkboxes in the Create Group Pages
![screenshot from 2016-07-29 00_04_48](https://cloud.githubusercontent.com/assets/7828295/17225414/780705ee-5522-11e6-8904-6c57ac6cf9d4.png)

Successfully assigned GroupPrivileges while creating the group
![screenshot from 2016-07-29 00_05_06](https://cloud.githubusercontent.com/assets/7828295/17225470/b15c45b6-5522-11e6-854d-3b45cce49d26.png)

[2016-07-28 18:54] DishantK1807 commented on #201
Fixed here: #200

[2016-07-29 02:24] DishantK1807 commented on #190
PR merged. Closing this issue.

[2016-07-29 02:24] #190 closed

[2016-07-29 15:53] DishantK1807 commented on #186
Fixed here: #204

[2016-07-29 17:37] #186 closed

[2016-07-29 17:57] sreejakshetty commented on #163
@mariobehling This issue is completed. Now code structure is in  MVC model.
There are sys files like template, auth, log, menu, page. These files can also be moved to controller, model, view folder. Should I move them and remove includes folder or should I leave it in the same structure.

[2016-07-29 18:02] sreejakshetty commented on #165
@mariobehling Can we send a mail to msquare requesting to review our PR.  Now it has been 15 days since we made a PR to engelsystem/engelsystem and it is not yet reviewed.

[2016-07-29 18:18] mariobehling commented on #165
@kamishettysreeja25 I have telephoned with him a few days ago. He is on holiday and is aware of the changes and our timeline. If it does not work out, he can pull the changes himself. Though, it would be better to get them in earlier, so we can get back to him, if there are requests for changes.

[2016-07-29 18:33] sreejakshetty commented on #165
@mariobehling okay, we will wait.

Even if msquare did not find time to review all the features before the final evaluation. I would still contribute if he has any requests for changes.
Thank you

[2016-07-30 02:43] DishantK1807 commented on #165
@mariobehling: Yes! Me too.

[2016-07-31 15:09] DishantK1807 commented on #94
Reviewed the code for for user_view and user_controllers, for implementing search. The current method that is used implement for search does not require any additional functions for search to return values of facebook, github, twitter of the user.

We just need to update the users_view so that this information can be displayed and search. #90
These functions are not required as of now.

![capture1

[2016-07-31 15:09] #94 closed

[2016-08-01 03:05] sreejakshetty commented on #196
Fixed here #205

[2016-08-01 03:05] #196 closed

[2016-08-01 03:06] sreejakshetty commented on #163
@mariobehling
This issue is completed. Implemented a MVC model for all the pages. We can close this.

[2016-08-01 03:13] sreejakshetty commented on #94
@DishantK1807
https://github.com/fossasia/engelsystem/issues/3. I have implemented search in All users page. search goes through all the fields of user table. so we need not extend it to other fields.

[2016-08-01 03:15] sreejakshetty commented on #90
![screenshot from 2016-08-01 08 43 41](https://cloud.githubusercontent.com/assets/14835922/17282512/2103e916-57c4-11e6-8410-9467f3ada7c4.png)
@DishantK1807  We have updated user_view.php with the changes made in the user table. We can close this issue now.

[2016-08-01 03:44] DishantK1807 commented on #94
@kamishettysreeja25: That's what I commented above and closed this issue after reviewing the code. Thank you.

[2016-08-01 05:34] #90 closed

[2016-08-01 10:09] mariobehling commented on #163
Great! Good job both of you!

[2016-08-01 10:09] #163 closed

[2016-08-01 11:10] DishantK1807 commented on #201
PR merged. Closing this issues now.

[2016-08-01 11:10] #201 closed

[2016-08-01 11:11] DishantK1807 commented on #199
PR merged. Closing this issues now.

[2016-08-01 11:11] #199 closed

[2016-08-01 11:11] DishantK1807 commented on #22
PR merged. Closing this issues now.

[2016-08-01 11:11] #22 closed

[2016-08-01 18:19] kamishettysreeja25 opened #207 "Unit Tests for Groups, GroupPrivileges, NewsComments, News, Privileges model files"
Write unit test for:
- [x] Groups_model

- [x] GroupPrivileges_model

- [x] NewsComments_model

- [x] News_model

- [x] Privileges_model

[2016-08-01 18:21] kamishettysreeja25 opened #208 "Unit Tests for Questions, Settings, User AngelTypes, UserGroups, User, WelcomeMessage model files"
Write unit test for:
- [x] Questions
- [x] Settings
- [x] User AngelTypes
- [x]  UserGroups
- [x] User
- [x] WelcomeMessage

[2016-08-01 18:46] kamishettysreeja25 opened #209 "Installation Script to setup engelsystem"

[2016-08-02 00:03] DishantK1807 commented on #207
@kamishettysreeja25: I have already written test codes for all the files. There was a mix and match which I was doing while writing the tests. Please work on different issue as you working on this would've waste my time while you were refactoring.  Please work on the script and Travis first so that we could integrate the testing fast. I'll write test test codes as I've already writing them.
Thank

[2016-08-02 00:04] DishantK1807 commented on #208
@kamishettysreeja25: I have already written test codes for all the files. There was a mix and match which I was doing while writing the tests. Please work on different issue as you working on this would've waste my time while you were refactoring. Please work on the script and Travis first so that we could integrate the testing fast. I'll write test test codes as I've already writing them.
Thank y

[2016-08-02 01:52] sreejakshetty commented on #208
@DishantK1807 There were no issues created for these files. I worked on creating unit test in the milestone 1 https://github.com/fossasia/engelsystem/pull/42. It is easy for me to work on writing tests as I have already worked before and It will be not take much time to finish them. We need tests files to setup travis so it will be fast if we both work on and complete the issue.
Thank you.

[2016-08-02 02:06] DishantK1807 commented on #208
@kamishettysreeja25: It'll be easy.  But I already worked on them while you were refactoring. You working on these would've waste a lot of mine time then.
Please find a different issue.
Thank you

[2016-08-02 02:11] DishantK1807 commented on #208
@kamishettysreeja25: Thank you for creating the issues.

[2016-08-02 03:24] sreejakshetty commented on #208
@dishantkhanna Welcome :)
On 2 Aug 2016 7:41 a.m., "Dishant Khanna" notifications@github.com wrote:

[2016-08-02 09:27] mariobehling commented on #136
Unfortunately this issue needs to be re-opened as the system is not deployed after an update properly. The priority was urgent 1.5 months ago and is not solved yet entirely.

[2016-08-02 11:40] DishantK1807 commented on #191
https://docs.travis-ci.com/user/customizing-the-build/#Customizing-the-Installation-Step

@kamishettysreeja25: Have you completed the script for the Travis?

[2016-08-02 11:44] sreejakshetty commented on #191
@DishantK1807 I have written the script for both environment setup and database setup.  `The script you provide to TravisCI should only do setup database job.`
You can see the script file here https://github.com/kamishettysreeja25/engelsystem/blob/9cd643fd16567eb883cdb9d9dbb2fa6f40d92688/install.sh.

[2016-08-02 11:48] DishantK1807 commented on #191
https://github.com/travis-ci-examples/php/blob/master/.travis.yml

Example .travis.yml

[2016-08-02 12:23] DishantK1807 commented on #191
@kamishettysreeja25: What about Migration of database?

[2016-08-02 12:44] sreejakshetty commented on #191
@DishantK1807 I have setup the table and migrated the tables in install.sh file.

[2016-08-03 03:12] DishantK1807 commented on #191
@hongquan: Can we setup database as shown in this example?
https://github.com/travis-ci-examples/php/blob/master/.travis.yml

[2016-08-03 05:01] DishantK1807 commented on #195
Fixed here #206

[2016-08-03 05:01] DishantK1807 commented on #194
Fixed here: #206

[2016-08-03 05:25] hongquan commented on #191
@DishantK1807 Can. But note that that example is not enough. It doesn't setup the tables.

[2016-08-03 05:28] DishantK1807 commented on #191
@hongquan: Can we setup tables in the same way?

I'll research more.

[2016-08-03 05:43] sreejakshetty commented on #161
#211
Implemented Installation script where admin can define name, email and password at the beginning

[2016-08-04 02:49] hongquan commented on #191
@DishantK1807 Of course yes, if there is no limitation of travis.yml which blocks it. I only worry that travis.yml has some limitations which stop you doing so.

[2016-08-04 03:03] DishantK1807 commented on #191
https://docs.travis-ci.com/user/database-setup/

Will try setting-up the the database via .travis.yml . Thank you

[2016-08-04 04:37] kamishettysreeja25 opened #212 "Features: Installation script"
parent issue: #161
These are features need to implemented.
- [x] database migrations directly through script
- [x]  Document how to change url from example.com/engelsystem/public to example.com/engelsystem/ issue #213
- [x]  install.php should be redirected only once for one database.

[2016-08-04 13:06] sreejakshetty commented on #212
@hongquan
Can I create a index.php file in the root folder of engelsystem which redirects to engelsystem/public/index.php file to resolve the directory listing problem.

[2016-08-04 17:10] DishantK1807 commented on #162
Researched more online for this issue and checked many other projects to find a solution to this problem and found a solution to it.
- Manually creating a file which will contain the Version Number, which will be updated every time a change is made to the `fossasia/master`.
- Create a script `update.sh` which will pull from the `fossasia/master` and to local repo.
- Running that script in `index.p

[2016-08-06 08:00] kamishettysreeja25 opened #213 "Documentation: Instructions to configure document root"
To change the url from `example.com/engelsystem/public` to` example.com/engelsystem/ `we need to configure the apache files. We need to instruct the user how to configure it.

[2016-08-06 09:58] hongquan commented on #212
Replied via #211

[2016-08-06 14:38] DishantK1807 commented on #207
Fixed here: #206

[2016-08-06 14:38] DishantK1807 commented on #208
Fixed here: #206

[2016-08-07 18:45] DishantK1807 opened #215 "Update Travis.yml to setup database"
Update .travis.yml to setup database and run install.sql and update.sql files

[2016-08-08 03:45] kamishettysreeja25 opened #216 "Importing tables through script"
Implementing importing tables through script while installing engelsystem.
Points to be taken care while importing tables https://github.com/fossasia/engelsystem/pull/211#issuecomment-238011853
- strategy to give browser fast response.
- split the queries to many batches, run one by one, or implement asynchronous task (rather advance).

**Tasks**
- [ ]  implement a script to import the tables in i

[2016-08-08 09:15] hongquan commented on #216
Note that, this one should not be called "migration". You will cause confusing with other "migration" feature you did before. "Migration" means you already have database with tables and you are changing thoses tables.
Here, in your install case, you have no table at first.

[2016-08-08 09:57] sreejakshetty commented on #216
@hongquan
Updated the title and the description.
Thank you

[2016-08-09 16:17] msquare commented on #165
I merged the feature. Here is my feedback:
1. Please ensure that variables are initialized correctly:

[code]
1. Please validate buildup_start_date <= event_start_date <= event_end_date <= teardown_end_date
2. Display the entered data: Event-name and the dates on login and news (start and home screen) and the welcome message on registration (or whatever your idea was). I think of a 3 column layout

[2016-08-09 16:19] msquare commented on #165
Please create more pull request containing single features - this works very good for me.

[2016-08-09 16:43] sreejakshetty commented on #165
@msquare
Thank you for your feedback. Initially I don't have idea on how to use the created variables and their constraints, now I will working on implementing them.

I will fix the initialisation error.

Sure we will create a PR with single feature from now on.

[2016-08-09 17:04] kamishettysreeja25 opened #218 "Settings Page: Adding Functionalities"
https://github.com/fossasia/engelsystem/issues/165#issuecomment-238605895
- [x] Fix the initialisation error.
[code]
- [x] validate buildup_start_date <= event_start_date <= event_end_date <= teardown_end_date
- [ ] Display the entered data: Event-name and the dates on login and news (start and home screen) and the welcome message on registration (or whatever your idea was). I think of a 3 column

[2016-08-11 15:58] DishantK1807 opened #219 "Added enable/disable update feature"
Add feature in the UI to enable and disable the update.

[2016-08-11 16:03] DishantK1807 commented on #219
Fixed here: #220

[2016-08-11 16:03] DishantK1807 commented on #162
Fixed here: #220

[2016-08-11 16:04] DishantK1807 commented on #162
Will write a blog post on it now

[2016-08-16 16:42] kamishettysreeja25 opened #223 "Improving code quality"
- Adding comments to the code added.
- Updating Documentation for new features.

[2016-08-17 10:48] sreejakshetty commented on #218
New login page layout suggested by @msquare.
![screenshot from 2016-08-17 16 15 48](https://cloud.githubusercontent.com/assets/14835922/17733817/1c5ae278-6496-11e6-8e2a-962a2e31cb3c.png)

[2016-08-17 14:19] mariobehling commented on #218
@kamishettysreeja25 There is probably not enough time to implement this before the end of GSoC and this feature needs to be thought-through more. The left sidebar does not work from a design perspective.

[2016-08-17 14:56] sreejakshetty commented on #218
@mariobehling
Yes, we need to work on how the design should be. We can postpone it for future milestones. I have just implemented a sample design to show how does it look if we divide login page to three column layout.
Thank you.

[2016-08-18 17:30] DishantK1807 commented on #162
This issue is completed and can be closed.

[2016-08-19 11:46] sreejakshetty commented on #216
Fixed here #211

[2016-08-19 11:46] #216 closed

[2016-08-19 11:46] sreejakshetty commented on #213
Fixed here #211

[2016-08-19 11:47] sreejakshetty commented on #212
Fixed here #211

[2016-08-19 11:47] #212 closed

[2016-08-19 11:47] sreejakshetty commented on #209
Fixed here #211

[2016-08-19 11:47] #209 closed

[2016-08-19 11:47] sreejakshetty commented on #161
Fixed here #211

[2016-08-19 11:47] #161 closed

[2016-08-19 11:48] #213 closed

[2016-08-20 03:19] #208 closed

[2016-08-20 03:20] #207 closed

[2016-08-20 03:20] #195 closed

[2016-08-20 03:20] #194 closed

[2016-08-20 03:20] #193 closed

[2016-08-21 18:52] DishantK1807 commented on #80
Fixed here: #222

[2016-08-21 18:52] DishantK1807 commented on #81
Fixed here: #222

[2016-08-22 09:34] sreejakshetty commented on #223
@mariobehling
We can merge this PR. I have added comments to some of the files to explain the functionalities.

[2016-08-22 17:53] DishantK1807 opened #227 "Update documentation of Code"
Adding comments to all the files to improve code understanding

[2016-08-22 17:59] sreejakshetty commented on #223
Fixed here #226

[2016-08-22 17:59] #223 closed

[2016-08-22 19:07] sreejakshetty commented on #218
Fixed here #224

[2016-08-22 19:07] #218 closed

[2016-08-23 02:22] #227 closed

[2016-08-23 02:37] #81 closed

[2016-08-23 02:38] #80 closed

[2016-08-23 02:39] #191 closed

[2016-08-25 03:12] DishantK1807 opened #231 "Remove Welcome message from Settings"
Display message in Settings
![display message exist 1](https://cloud.githubusercontent.com/assets/7828295/17955389/727548d8-6a9f-11e6-814f-7842b93340b8.png)

Display message in Admin Settings
![welcome message in admin settings](https://cloud.githubusercontent.com/assets/7828295/17955391/74089de4-6a9f-11e6-8877-4ed79aad143b.png)

@kamishettysreeja25: There is display welcome message in both, Admin

[2016-08-25 04:58] sreejakshetty commented on #231
@DishantK1807
Welcome message is for registration page. As msquare told me to create a new table for it I have created it.
Whereas event welcome message is for displaying event message in the login page where we show all the fields event name, event start date, all the fields in settings page.
Once we have designed the login page layout we can show all admin settings page fields there.
They will b

[2016-08-25 15:56] #231 closed

[2016-08-28 05:38] DishantK1807 opened #232 "Refactoring model files"
#196

Even after the previous refactoring done by Sreeja, there are still many duplicate functions in the system which needs refactoring.

E.g.

`User_model.php`
<pre>
function User_select_nick($nick) {
  return sql_num_query("SELECT * FROM `User` WHERE `Nick`='" . sql_escape($nick) . "' LIMIT 1");
}

function User_select_mail($mail) {
  return sql_num_query("SELECT * FROM `User` WHERE `email`='"

[2016-10-10 10:01] userdimi opened #233 "Create an event?"
Hey guys,

where can I create an event?

[2016-10-10 17:08] sreejakshetty commented on #233
Hi @userdimi
Only admin can create events. Under Admin press the dropdown you have **create events** where we can create new events. Below image shows the create events page.
![event1](https://cloud.githubusercontent.com/assets/7828295/17839161/cb05af28-67fd-11e6-892c-fc0b854cf4e2.png)

[2016-10-10 21:06] userdimi commented on #233
Hi @kamishettysreeja25

thank you for your answer.

I created a user during the installation of the application. I'm not sure if the user has admin rights. Where can I see my rights and permissions? If I press the Admin Button down I don't find "create event" at the list.
<img width="1268" alt="screen shot 2016-10-10 at 23 03 26" src="https://cloud.githubusercontent.com/assets/2900264/19251118/ff0

[2016-10-12 12:18] sreejakshetty commented on #233
@userdimi
Please check whether all the tables are imported to the database successfully.
![screenshot from 2016-10-12 17 45 09](https://cloud.githubusercontent.com/assets/14835922/19309615/bd0e4c12-90a3-11e6-96aa-fc19ef7c2f3d.png)
Thank you :)

[2016-10-20 10:19] userdimi commented on #233
Hey @kamishettysreeja25. Thank you for your answer. After a look at db I found the user admin. I logged me as admin and found the Option to creat Event. Thank you for the hint!!!

[2016-10-20 10:19] #233 closed

[2017-01-21 18:40] imujjwal96 opened #234 "INSTALLATION_LOCAL.md does not mention that we have to import install.sql and update.sql to the database."
Not importing them shows the following warnings:

![image](https://cloud.githubusercontent.com/assets/8245662/22176761/1f30934a-e037-11e6-9ada-e02cd8ca4500.png)

[2017-01-21 18:57] imujjwal96 commented on #232
Since these functions perform a single function of checking if the user exists or not, I was thinking we can replace them with a single function like,

doesUserExist($parameter, $value) {
      //
}

which can then be used like,
if (doesUserExist("Nick", $nick)) {  }
if (doesUserExist("email", $email)) {  }

[2017-01-21 23:21] Playaowl opened #235 "Register page shows empty"
Using a DigitalOcean Ubuntu 14.04.5 x64
Used the install_dependencies.sh setup (but also tried a LAMP system according to the local installation readme).
The engelsystem shows up, but the registration page either from the start page or from the admin-add user button is a 0 byte page, totally empty.
Besides a bunch of errors of redefined constants because config-sample.default.php is included befor

[2017-01-22 19:34] Playaowl commented on #235
added select_angeltype() as a copy of select_angeltypes() to Message_model.php.
After that I get a sql error, pointing out that the construction of the statement is only allowed without sql-mode ONLY_FULL_GROUP_BY
It seems that the current versions of mysql (5.7) uses this sql-mode as a default (changed since 5.5).

[2017-04-01 23:30] imujjwal96 opened #238 "No default values for certain fields in User table"
When a user is registered without filling any of the non required inputs, the following errors are logged

- lastLogin doesn't have a default value
- force_active doesn't have a default value
- api_key doesn't have a default value
- got_voucher doesn't have a default value

[2017-04-07 11:18] imujjwal96 opened #239 "Non-existent native languages"
While registering, it is required by the angels to register their native language. In that native language select tag, there are languages like, 'English (Upside Down)', 'English (Pirate). Such languages are not actually spoken and hence should not be in the dropdown list.

The languages shown in the dropdown are generated from the Facebook locales. Instead of this, any bootstrap language picker c

[2017-04-11 17:06] imujjwal96 opened #240 "[Admin] Vague flow of the system while creating a shift."
Attempt to create a shift.
     - If the administrator forgot to add a room for the shift, he has to go to the Rooms route and add the room. Redirecting to that page, all of the Create Shifts' form input is lost. Also in the Add Room form, if the administrator has not added an event in the system, he then has to go to Events route to add the event. Here also the form input is lost from the Add Roo

[2017-04-11 17:08] #234 closed

[2017-04-11 17:51] imujjwal96 opened #241 "Exceptions and errors in the system are not handled properly."
Whenever an exception occurs, it is handled badly by killing the project using die() function. Exit expressions with regular code are untestable and therefore they should be avoided.

![image](https://cloud.githubusercontent.com/assets/8245662/24922874/6666d5ac-1f0d-11e7-91dd-0863f467d018.png)

[2017-04-11 17:52] imujjwal96 opened #242 "Empty news can be added in the system"
![image](https://cloud.githubusercontent.com/assets/8245662/24922989/c2814548-1f0d-11e7-8d17-4b7a4e096e52.png)

[2017-09-11 12:54] larsbru opened #244 "Startprobleme "Unable to load event config.""
Hallo,
ich wollte einmal euer engelsystem testen und bekomme sowohl auf eigener VM (Ubuntu 16) als auch auf meinem Hosteurope Webspace die selbe Fehler Meldung.
Kann mir jemand helfen und sagen, was bei "Unable to load event config." zu tun ist?

Ich habe nach folgenden Anleitungen Installiert und erhalte bei beiden die gleiche Meldung:
1. https://github.com/fossasia/engelsystem/blob/development/d

[2018-01-28 01:31] freifunk-bamberg opened #245 "404 Not Fount"
Habe das Engelsystem nach eurer Anleitung installiert, aber ich bekomme bei jedem menüpunkt einen 404er Meldung...

Was mache ich da falsch?

[2019-07-04 21:34] maximilianfink opened #246 "Installationsproblem"
Hallo,
Ich habe folgendes Problem:

Für unseren Musikverein würde ich gerne das Engelsystem auf der Subdomain http://helfer.mv-hofen.de installieren.
Ich habe eine MYSQL Datenbank erstellt und die Install und update SQL Dateien importiert - alles soweit erfolgreich.
Dann habe ich die Dateien per FTP hochgeladen, die Domain auf den public Ordner gerichtet und die entsprechenden Rechte gesetzt. Die